{% extends "rp/base.html" %}
{% block title: %}Edit announcements{% endblock %}
{% block content: %}
    <h2>Edit announcements</h2>
    <form action="{{url_for("admin_announcements")}}" method="post">
        <p><textarea name="announcements" rows="10">{{g.redis.get("announcements") or ""}}</textarea></p>
        <p><button type="submit">Save</button></p>
    </form>
{% endblock %}

