{% extends "rp/base.html" %}
{% block title: %}Broadcast{% endblock %}
{% block content: %}
    <h2>Broadcast</h2>
    <form action="{{url_for("admin_broadcast")}}" method="post">
        <p>Color: <input type="color" name="color" value="#000000"></p>
        <p><textarea name="text" rows="10" required></textarea></p>
        <p><button type="submit">Send</button></p>
    </form>
{% endblock %}

