{% extends "rp/base.html" %}
{% block title: %}Admin tools{% endblock %}
{% block content: %}
    <h2>Admin tools</h2>
    <ul>
        <li><a href="{{url_for("admin_announcements")}}">Edit announcements</a></li>
        <li><a href="{{url_for("admin_broadcast")}}">Broadcast</a></li>
        <li><a href="{{url_for("admin_user_list")}}">Full user list</a></li>
        <li><a href="{{url_for("admin_rooms")}}">Full rooms list</a></li>
        <li><a href="{{url_for("admin_log")}}">Log</a></li>
    </ul>
{% endblock %}

