{% extends "rp/base.html" %}
{% block title: %}Rooms{% endblock %}
{% block content: %}
    <h2>Rooms</h2>
    {# {{ pager() }} #}
    {% if rooms: %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>NSFW</th>
                <th>Publicity</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
            {% for chat in rooms: %}
            <tr{% if type != "unread" and chat.unread: %} class="unread"{% endif %}>
                <td>{{chat.id}}</td>
                <td><a href="{{url_for("rp_chat", url=chat.url)}}">{{chat.title}}</a></td>
                <td>{{ "Yes" if chat.nsfw else "No" }}</td>
                <td>{{chat.publicity.capitalize()}}</td>
                <td><a href="{{url_for("admin_user", username=chat.creator.username)}}">{{chat.creator.username}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else: %}
    <p>No rooms.</p>
    {% endif %}
    {# {{ pager() }} #}
{% endblock %}

