{% extends "rp/base.html" %}
{% block title: %}Users{% endblock %}
{% block content: %}
    <h2>Users</h2>
    {# {{ pager() }} #}
    {% if users: %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Group</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users: %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="{{url_for("admin_user", username=user.username)}}">{{user.username}}</a></td>
                <td>{{user.group.capitalize()}}</td>
                <td>{{user.created}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else: %}
    <p>No users.</p>
    {% endif %}
    {# {{ pager() }} #}
{% endblock %}

