{% extends "rp/base.html" %}
{% block title: %}#{{user.id}} {{user.username}}{% endblock %}
{% block content: %}
    <h2>#{{user.id}} {{user.username}}</h2>
    <table>
        <tbody>
            <tr>
                <td>Group</td>
                <td><form action="{{url_for("admin_user_set_group", username=user.username)}}" method="post">
                    <input type="hidden" name="token" value="{{g.csrf_token}}">
                    <select name="group">
                        {% for value in User.group.type.enums: %}
                        <option value="{{value}}"{% if value == user.group %} selected="selected"{% endif %}>{{value.capitalize()}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Save</button>
                </form></td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{user.created}}</td>
            </tr>
            <tr>
                <td>Last online</td>
                <td>{{user.last_online}}</td>
            </tr>
            <tr>
                <td>Last IP</td>
                <td>{{user.last_ip}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>
            {% if user.default_character %}
            <tr>
                <td>Default character</td>
                <td><span style="color: #{{user.default_character.color}};">{{user.default_character.name}}</span> [<span style="color: #{{user.default_character.color}};">{{user.default_character.acronym}}</span>]</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

