{% extends "root/base.html" %}

{% block header %}
        <title>Charat – Intuitive Fanservice</title>
        <meta name="description" content="Welcome to Charat, we provide different services for people that enjoy different things. From anime to webcomics to TV shows! Visit this page regularly because we're always adding new things!" />
{% endblock %}

{% block content %}
        <div id="main-block" class="block-container">
            <div class="block" style="margin-top: 47px;">
                <logo class="root"></logo>
                <header>Charat</header>
                <subtitle>Find Your Character</subtitle>
            </div>
            <div class="description">
                <a href="{{url_for("home")}}"><header>Charat</header></a>
                <p>
                    Welcome to Charat, we provide different services for people that enjoy different things. From anime to webcomics to TV shows! Visit this page regularly because we're always adding new things!
                </p>
            </div>
        </div>
        
        <div class="block-container">
            <div class="block" style="margin-top: 31px;">
                {% if not g.user %}
                <header>Welcome Guest</header>
                <subtitle>What would you like to do?</subtitle>
                <a class="block-button" href="{{url_for("log_in")}}">Log in</a>
                <a class="block-button" href="{{url_for("register")}}">Register</a>
                {% else %}
                <header>Welcome {{g.user.username}}</header>
                <subtitle>What would you like to do?</subtitle>
                <a class="block-button" href="/settings">Settings</a>
                <form action="{{url_for("log_out")}}" method="post"><button class="block-button" type="submit">Log out</button></form>
                {% endif %}
            </div>
        </div>
        
        <div class="block-container">
            <div class="block" style="margin-top: 47px;">
                <logo class="rp"></logo>
                <header>Charat Roleplay</header>
                <subtitle>Character Chat</subtitle>
            </div>
            <div class="description">
                <a href="{{url_for("rp_home")}}"><header>Charat Roleplay</header></a>
                <p>
                    Our first and most popular service! Here, you can chat and roleplay with your friends and connect to different people to roleplay with as well.
                </p>
            </div>
        </div>
        
        <div class="block-container">
            <div class="block" style="margin-top: 47px;">
                <logo class="blog"></logo>
                <header>The Charat Blog</header>
                <subtitle>Updates and Information</subtitle>
            </div>
            <div class="description">
                <a href="{{url_for("blog_home")}}"><header>The Charat Blog</header></a>
                <p>
                    This is The Charat Blog, check here for information on new products or updates on current ones.
                </p>
            </div>
        </div>
        
        {% for key in posts|sort %}
        {% set post = posts[key] %}
        <div id="post-{{post.id}}" class="blog-post">
            <div class="inner-blog-post">
                <a href="{{url_for("blog_home")}}post/{{post.id}}">
                    <div class="block">
                        <header>{{post.title}}</header>
                        <subtitle>{{post.author}}</subtitle>
                    </div>
                </a>
                <div class="content">
                    {{post.content[:100]}}{% if post.content[:100]|length != post.content|length %}...{% endif %}
                    <a href="{{url_for("blog_home")}}post/{{post.id}}">[More]</a>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}



