{% extends "root/base.html" %}

{% block header %}
        <title>Charat – Log in</title>
        <style>
            #main-block {
                {% if "log_in_error" in request.args: %}
                    height: 270px;
                {% else %}
                    height: 240px;
                {% endif %}
            }
            
            #main-block header {
                margin-bottom: 10px;
            }
        </style>
{% endblock %}

{% block content %}
        <div id="main-block" class="block-container">
            <div class="block">
                <a href="{{url_for("home")}}">
                    <logo class="root"></logo>
                    <header>Charat</header>
                </a>
                {% if "log_in_error" in request.args: %}
				{% if request.args["log_in_error"] == "no_user": %}
                <span class="error">There doesn't seem to be an account with that username.</span>
				{% elif request.args["log_in_error"] == "wrong_password": %}
                <span class="error">That password is incorrect.</span>
				{% endif %}
                {% endif %}
                <form action="{{url_for("log_in")}}" method="post">
                    <input id="logUsername" type="text" name="username" placeholder="Username" autofocus>
                    <input id="logPassword" type="password" name="password" placeholder="Password">
                    {% if referer: %}<input type="hidden" name="referer" value="{{referer}}" />{% endif %}
                    <button class="block-button" type="submit">Log in</button>
                </form>
            </div>
        </div>
{% endblock %}

