{% extends "root/base.html" %}

{% block header %}
        <title>Charat – Register</title>
        <style>
            #main-block {
                {% if "register_error" in request.args: %}
                    height: 270px;
                {% else %}
                    height: 250px;
                {% endif %}
            }
            
            #main-block header {
                margin-bottom: 10px;
            }
        </style>
        <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
        <div id="main-block" class="block-container">
            <div class="block">
                <a href="{{url_for("home")}}">
                    <logo class="root"></logo>
                    <header>Charat</header>
                </a>
                {% if "register_error" in request.args: %}
				{% if request.args["register_error"] == "blank": %}
                <span class="error">Please fill out all the information.</span>
				{% elif request.args["register_error"] == "passwords_didnt_match": %}
                <span class="error">The two passwords didn't match.</span>
				{% elif request.args["register_error"] == "invalid_username": %}
                <span class="error">Usernames can only contain letters, numbers, hyphens and underscores.</span>
				{% elif request.args["register_error"] == "username_taken": %}
                <span class="error">That username has already been taken.</span>
				{% endif %}
                {% endif %}
                <form action="{{url_for("register")}}" method="post">
                    <input id="regEmail" type="text" name="email" placeholder="Email" autofocus>
                    <input id="regUsername" type="text" name="username" placeholder="Username">
                    <input id="regPassword" type="password" name="password" placeholder="Password">
                    <input id="regConfirm" type="password" name="password_again" placeholder="Confirm Pass">
                    <br />
                    <label><input type="checkbox" name="nsfw_access" value="true" autocomplete="off">Over 18?</label>
                    <div class="g-recaptcha" data-sitekey="{{config["RECAPTCHA_SITE_KEY"]}}"></div>
                    <button class="block-button" type="submit">Register</button>
                </form>
            </div>
        </div>
{% endblock %}

