<!DOCTYPE html>
<html>
    <head>
        <title>{% if self.title() %}{% block title %}{% endblock %}{% else %}Charat – Find Your Character{% endif %}</title>
        
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1" />
        
        <!-- Apple Icons -->
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/favicons/rp/touch-icon-iphone.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{url_for('static', filename='img/favicons/rp/touch-icon-ipad.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{url_for('static', filename='img/favicons/rp/touch-icon-iphone-retina.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{url_for('static', filename='img/favicons/rp/touch-icon-ipad-retina.png')}}">

        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/rp/charat.css")}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="colorpicker/css/colorpicker.css")}}" />
        <script src="{{url_for("static", filename="js/jquery.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/bbcode.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/quirks.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/base.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/desktop-notify.js")}}" defer></script>
        <script type="text/javascript" src="{{url_for("static", filename="colorpicker/js/colorpicker.js")}}" defer></script>
        <script>var logged_in = {{"true" if g.user != None else "false"}};</script>
        {%block header%}{%endblock%}
    </head>

    <body>
    {% if self.topbar() %}
        {% block topbar %}{% endblock %}
    {% else %}
        <div id="topbar">
            <div id="toptitle">Charat</div>
            <div id="topmenu">
                <div class="topborder"></div>
                <a id="goRPHome" href="{{url_for('rp_home')}}">Home</a>
                <div class="topborder"></div>
                <a id="goChats" href="{{url_for('rp_chat_list')}}">Chats</a>
                <div class="topborder"></div>
                <a id="goGuide" href="">Guide</a>
                <div class="topborder"></div>
                <a id="goCharacters" href="{{url_for('rp_character_list')}}">Characters</a>
                <div class="topborder"></div>
                <a id="goSettings" href="{{url_for('settings')}}">Settings</a>
                <div class="topborder"></div>
                {% if g.user != None: %}
                <form class="log_out_form" action="{{url_for("log_out")}}" method="post"><button type="submit" class="log_out">Log out</button></form>
                {% else %}
                <a class="log_in" href="">Log in</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {%block content%}{% endblock %}
    </body>
</html>
