{% extends "rp/base.html" %}

{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
<script src="{{url_for("static", filename="js/rp/characters.js")}}" defer></script>
<script src="{{url_for("static", filename="js/rp/home.js")}}" defer></script>
{% endblock %}

{% block content %}
<div class="body">
{% if character: %}
<form id="frontform" method="post" action="{{url_for("rp_save_character", character_id=character.id)}}">
{% else: %}
<form id="frontform" method="post" action="{{url_for("rp_new_character_post")}}">
{% endif %}
    <!-- Put in some noscript things -->

    <div class="section" id="character-config">
        <div class="titli">{% filter upper %}{{character.title if character else "New character"}}{% endfilter %}</div>
        <div id="char_left" class="left">
            <div class="card character">
                <div class="titi">CHARACTER DETAILS</div>
                <div class="left">
                    <label>Save:</label><br />
                    <label>Name:</label><br />
                    <label>Alias:</label><br />
                    <label>Color:</label>
                </div>
                <div class="right">
                    <input type="text" name="title" value="{{character.title if character else ""}}" maxlength="50" /><br />
                    <input id="usingname" type="text" name="name" value="{{character.name if character else "anonymous"}}" maxlength="50" /><br />
                    <input id="ailin" type="text" name="alias" value="{{character.alias if character else "??"}}" maxlength="15" /><br />
                    <input id="coln" type="text" name="color" value="{{character.color if character else "000000"}}" maxlength="6" />
                </div>
            </div>
            <div class="card">
                <div class="titi">TYPING PATTERNS</div>
                <div class="left">
                    <label>Prefix: </label><br />
                    <label>Suffix: </label><br />
                    <label>Case: </label>
                </div>
                <div class="right">
                    <input id="prei" type="text" name="quirk_prefix" value="{{character.quirk_prefix if character else ""}}" /><br />
                    <input id="sufi" type="text" name="quirk_suffix" value="{{character.quirk_suffix if character else ""}}" /><br />
                    <div class="select-bind"><div class="arrow">▼</div>
                        <select id="casing" name="case">
                            {% for value, name in case_options.items(): %}
                                <option value="{{value}}"{% if (character and value == character.case) or (value == "normal" and not character) %} selected="selected"{% endif %}>{{name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            {% if error=="color" %}<span class="error">You entered an invalid hex code. Try using the color picker.</span><br />{% endif %}
        </div>

        <div id="char_center" class="center">

            <div class="card" id="typing-quirks">
                <div class="titi">REPLACEMENTS</div>
                
                <div class="area-select one">
                    <div class="selection">
                        <div class="one">Regular</div>
                        <div class="two">Regex</div>
                    </div>
                    <div class="area"> 
                        <div class="one">
                            <div class="replacementContainer">
                                <ul id="replacementList">
                                    {% if character and character.replacements|length!=0 %}
                                    {% for replacement in character.replacements %}
                                    <li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
                                    {% endfor %}
                                    
                                    {% else %}
                                    <li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
                                    {% endif %}
                                </ul>
                                <a href="#" id="addReplacement">+Add another replacement</a>
                                <br />
                                <a href="#" id="clearReplacements">-Clear replacements</a>
                            </div>
                        </div>
                        <div class="two">
                           <div class="replacementContainer">
                                <ul id="regexList">
                                    {% if character and character.regexes|length!=0 %}
                                    {% for replacement in character.regexes %}
                                    <li><input type="text" name="regex_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="regex_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteRegex">x</a></li>
                                    {% endfor %}

                                    {% else %}
                                    <li><input type="text" name="regex_from" size="4"> to <input type="text" name="regex_to" size="4"> <a href="#" class="deleteRegex">x</a></li>
                                    {% endif %}
                                </ul>
                                <a href="#" id="addRegex">+Add another replacement</a>
                                <br />
                                <a href="#" id="clearRegexes">-Clear replacements</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card quote-line" id="color-preview" style="color:#{{character.color if character else "000000"}};">
                <span id="alias">{{character.alias if character else "??"}}: </span><span id="quote"></span>
            </div>

        </div>

        <div id="char_right" class="right">
            <div class="card" id="tags">
                <div class="titi">YOUR CHARACTER</div>
                <p>Seperate your tags by commas</p>
                <div class="tag-container"><label>Characters they are: <input type="text" name="character" maxlength="500" value="{{character_tags["character"] if character_tags else ""}}"></label></div>
                <div class="tag-container"><label>Fandoms: <input type="text" name="fandom" maxlength="500" value="{{character_tags["fandom"] if character_tags else ""}}"></label></div>
                <div class="tag-container"><label>Genders: <input type="text" name="gender" maxlength="500" value="{{character_tags["gender"] if character_tags else ""}}"></label></div>
            </div>
        </div>

        <button class="save_character">Save Settings</button>
    </div>
    
</form>
</div>
{% endblock %}
