{% extends "rp/base.html" %}
{% block title%}Characters – Charat{% endblock %}
{% block header %}
<script src="{{url_for('static', filename='js/rp/characterlist.js')}}" defer></script>
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/home.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/front.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/characterlist.css')}}" />
{% endblock %}

{% block content %}
<div class="body">
    <!-- Put in some noscript things -->
    <div id="character-list" class="section">
        <div class="titli">CHARACTER LIST</div>
        <div id="characters" class="card">
            {% for character in characters: %}
            <div>
                <p class="character-title">{{character.title}}<span title="Default Character">{% if character == g.user.default_character: %}*{% endif %}</span></p>
                <span style="color: #{{character.color}}">{{character.name}}</span>{% if character.alias != "": %} [<span style="color: #{{character.color}}">{{character.alias}}</span>]{% endif %}

                <p class="options">
                    <a href="{{url_for('rp_character', character_id=character.id)}}">Edit</a>
                    <a href="{{url_for('rp_delete_character_get', character_id=character.id)}}">Delete</a>
                    {% if character != g.user.default_character: %}<a class="set-as-default" href="{{url_for('rp_set_default_character', character_id=character.id)}}">Set as Default</a>{% endif %}
                </p>

                <hr />
            </div>
            {% endfor %}

            <p><a class="button" href="{{url_for("rp_new_character_get")}}">New character</a></p>

        </div>
    </div>
</div>
{% endblock %}

