{% extends "rp/base.html" %}
{% block title%}{% if type == None: %}Your{% elif type == 'pm' %}Private Message{% else %}{{type|capitalize}}{% endif %} Chats – Charat{% endblock %}
{% block header %}
<script>
var chats = {{chats|tojson|safe}};
</script>
<script src="{{url_for('static', filename='js/rp/chats.js')}}" defer></script>
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/home.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/front.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/chats.css')}}" />
{% endblock %}

{% block pager %}
{% if paginator.page_count!=1 %}
<div class="pager">
{{paginator.pager(format='~5~')}}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="body">
    <!-- Put in some noscript things -->
    <div id="chat-pages" class="section">
        <div id="page-div">
            <div id="your-pages" class="section">
                <div class="titli">YOUR CHATS</div>
                <div class="card">
                    
                    {% for key in chat_classes|sort: %}
                        {% if type == key: %}
                            {% if key == 'pm': %}
                                <div class="chat-types">Private</div>
                            {% elif key == None: %}
                                <div class="chat-types">All</div>
                            {% else %}
                                <div class="chat-types">{{key|capitalize}}</div>
                            {% endif %}
                        {% else %}
                            {% if key == 'pm': %}
                                <div class="chat-types"><a href="{{url_for('rp_chat_list', type='pm')}}">Private</a></div>
                            {% elif key == None: %}
                                <div class="chat-types"><a href="{{url_for('rp_chat_list')}}">All</a></div>
                            {% else %}
                                <div class="chat-types"><a href="{{url_for('rp_chat_list', type=key)}}">{{key|capitalize}}</a></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {{ self.pager() }}
                </div>
            </div>
            <div id="new-pages" class="section">
                <div class="titli">NEW CHATS</div>
                <div class="card">
                    <div class="chat-types"><a href="{{url_for('rp_rooms')}}">Rooms</a></div>
                    <div class="chat-types"><a href="/search">Random</a></div>
                    <div class="chat-types"><a href="/requests">Request</a></div>
                </div>
            </div>
        </div>
        <div class="titli">{% if type == None: %}ALL CHATS{% elif type == 'pm' %}PRIVATE MESSAGES{% else %}{{type|upper}} CHATS{% endif %}</div>
        <div id="under-page"></div>
    </div>
</div>
{% endblock %}

