{% extends "rp/base.html" %}
{% block title%}{% if chat.title %}{{chat.title}}{% else %}{{chat.url}}{% endif %} – Charat{% endblock %}
{% block header %}
        <!-- No caching for Chat Pages -->
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <!-- No cache END -->

        <link rel="stylesheet" href="{{url_for('static', filename='css/rp/chat.css')}}" defer>
        <script src="{{url_for('static', filename='js/rp/characters.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/rp/quirks.js')}}" defer></script>
        <script type="text/javascript">
            var user = {{chat_user_dict|tojson|safe}};
            var chat = {{chat|tojson|safe}};
            var latest_message_id = {{latest_num|tojson|safe}};
            var AUDIO_NOTIFICATION = new Audio("{{url_for('static', filename='res/rp/notification.wav')}}");
            if (AUDIO_NOTIFICATION.canPlayType('audio/mpeg')) {
                AUDIO_NOTIFICATION.type= 'audio/mpeg';
                AUDIO_NOTIFICATION.src= "{{url_for('static', filename='res/rp/notification.mp3')}}";
            } else if (AUDIO_NOTIFICATION.canPlayType('audio/ogg')) {
                AUDIO_NOTIFICATION.type= 'audio/ogg';
                AUDIO_NOTIFICATION.src= "{{url_for('static', filename='res/rp/notification.ogg')}}";
            }
        </script>
        <script src="{{url_for('static', filename='js/rp/chat.js')}}" defer></script>
{% endblock %}

{% block topbar %}
        <div id="topbar" class="chatbar">
            <center>
               <div id="toptitle"><img src="{{url_for('static', filename='icon.png')}}" /></div>
                <div id="topmenu">
                    <a id="goRPHome" href="{{url_for('rp_home')}}">Home</a>
                    <div class="topborder"></div>
                    <a id="goChats" href="{{url_for('rp_chat_list')}}">Chats</a>
                    <div class="topborder"></div>
                    <a id="goUser" href="">Guide</a>
                    <div class="topborder"></div>
                    <a id="goCharacters" href="{{url_for('rp_character_list')}}">Characters</a>
                    <div class="topborder"></div>
                    <a id="goUser" href="{{url_for('settings')}}">Settings</a>
                    <div class="topborder"></div>
                    {% if g.user != None %}
                    <form class="log_out_form" action="{{url_for("log_out")}}" method="post"><button type="submit" class="log_out">Logout</button></form>
                    {% else %}
                    <a class="log_in" href="">Log in</a>
                    {% endif %}
                </div>
            </center>
            <span class="left">
                <span id="extain"><span id="exclaim">0</span><span id="reclaim">!</span></span>
            </span>
            <span class="right">
                <span class="userList">U</span> <span class="settings">C</span>
            </span>
        </div>
{% endblock %}

{% block content %}
        <div id="conversation" class="body">
            <div id="convo">
                <p><a id="logAnchor" href="/{{url}}/log" target="_blank">View Log</a></p>
                {% for message in messages %}
                <span id="message{{message.id}}" class="{{message.type}} user{{message.user_id}}">
                    <p class="info">
                        <span class="left">{{message.name}}{% if message.type != "ic" %}:{{message.type}}{% endif %}</span>
                        <span class="right"><span class="username">{% if chat.type=='group' %}<a href="/pm/{{message.user.username}}">{{message.user.username}}</a>{% elif chat.type=='pm' %}{{message.user.username}}{% elif chat_user_dict.meta.user_id == message.user.id %}You{% endif %}</span> <span class="post_timestamp">{{message.posted|TSE}}</span></span>
                    </p>
                    {% if message.type == 'me' %}
                    <p class="message">[color=#{{message.color}}]{{message.name}}[/color] {{"[[color=#"+message.color+"]"+message.alias+"[/color]]" if message.alias|length else ""}} {{message.text}}</p>
                    {% else %}
                    <p class="message" style="color: #{{message.color}};">{% if message.type == 'ooc' %}{{message.user.username}}:&nbsp;{% else %}{% if message.alias %}{{message.alias}}:&nbsp;{% endif %}{% endif %}{{message.text}}</p>
                    {% endif %}
                </span>
                {% endfor %}
            </div>
        </div>

        <div class="body">
        <div id="userList" class="sidebar">
            <div class="sidebarContain">
                {% if chat.type=='group' %}
                    <div id="groupMeta" class="card">
                        <div id="subscription" title="Modify Subscription">+</div>
                        <h1 id="chat-title" class="titi">{% if chat.title %}{{chat.title}}{% else %}{{chat.url}}{% endif %}</h1>
                        <p id="topic">{{chat.topic}}</p>
                        <button type="button" id="topicButton" class="metaOptions">Set Topic</button>
                        <div id="hide-topic" class="line-behind-wrapper">
                            <div class="line-behind"></div>
                            <div class="text">Hide Topic</div>
                        </div>
                    </div>
                    <div class="card metaOptions stoptions">
                        <h1 class="titi">CHAT SETTINGS</h1>
                        <ul id="metaOptions">
                            <li>
                                <div class="select-bind" id="publicityWrapper"><div class="arrow">▼</div>
                                    <select id="publicity">
                                        <option value="listed" {% if chat.publicity == "listed" %}selected{% endif %}>Public</option>
                                        <option value="unlisted" {% if chat.publicity == "unlisted" %}selected{% endif %}>Unlisted</option>
                                        <option value="private" {% if chat.publicity == "private" %}selected{% endif %}>Private</option>
                                        <option value="pinned" {% if chat.publicity == "pinned" %}selected{% endif %}>Pinned (Admin)</option>
                                        <option value="admin_only" {% if chat.publicity == "admin_only" %}selected{% endif %}>Admin Only (Admin)</option>
                                    </select>
                                </div>
                            </li>
                            <li><label><input type="checkbox" id="autosilence" autocomplete="off"><div class="checkbox"></div><div class="checkbox-text">Autosilence</div></label></li>
                            <li class="opmod"><label><input type="checkbox" id="nsfw" autocomplete="off"><div class="checkbox"></div><div class="checkbox-text">NSFW</div></label></li>
                            <li class="opmod"><label><input type="checkbox" id="typing_notifications" autocomplete="off"><div class="checkbox"></div><div class="checkbox-text">Typing Notifications</div></label></li>
                        </ul>
                   </div>
                {% else %}
                    <div class="card">
                        <div id="subscription" title="Modify Subscription">+</div>
                        <h1 id="chat-title" class="titi">{% if chat.title %}{{chat.title}}{% else %}{{chat.url}}{% endif %}</h1>
                    </div>
                {% endif %}
                <div id="onlineContainer" class="card">
                    <h1 class="titi">USERS</h1>
                    <ul id="users" class="{{chat_user.group}}"></ul>
                </div>
            </div>
        </div>

        <form id="settings" class="sidebar">
            <div class="sidebarContain">
                <div class="card change-character">[CHARACTERS]</div>
                <div class="card character">
                    <div class="titi">CHARACTER DETAILS</div>
                    <div class="left">
                        <label>Name:</label><br />
                        <label>Alias:</label><br />
                        <label>Color:</label>
                    </div>
                    <div class="right">
                        <input id="usingname" type="text" name="name" value="{{chat_user.name}}" maxlength="50" /><br />
                        <input id="ailin" type="text" name="alias" value="{{chat_user.alias}}" maxlength="15" /><br />
                        <input id="coln" type="text" name="color" value="{{chat_user.color}}" maxlength="6" />
                    </div>
                </div>

                <div class="card" id="typing-quirks">
                    <div class="titi">TYPING PATTERNS</div>
                    <div class="left">
                        <label>Prefix: </label><br />
                        <label>Suffix: </label><br />
                        <label>Case: </label>
                    </div>
                    <div class="right">
                        <input id="prei" type="text" name="quirk_prefix" value="{{chat_user.quirk_prefix}}" /><br />
                        <input id="sufi" type="text" name="quirk_suffix" value="{{chat_user.quirk_suffix}}" /><br />
                        <div class="select-bind"><div class="arrow">▼</div>
                            <select id="casing" name="case">
                                {% for value, name in case_options.items(): %}
                                <option value="{{value}}"{% if value==chat_user.case %} selected="selected"{% endif %}>{{name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="titi">REPLACEMENTS</div>
                    <div class="area-select one">
                        <div class="selection">
                            <div class="one">Regular</div>
                            <div class="two">Regex</div>
                        </div>
                        <div class="area"> 
                            <div class="one">
                                <div class="replacementContainer">
                                    <ul id="replacementList">
                                        {% if chat_user_dict.character.replacements|length!=0 %}
                                        {% for replacement in chat_user_dict.character.replacements %}
                                        <li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
                                        {% endfor %}

                                        {% else %}
                                        <li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
                                        {% endif %}
                                    </ul>
                                    <a href="#" id="addReplacement">+Add another replacement</a>
                                    <br />
                                    <a href="#" id="clearReplacements">-Clear replacements</a>
                                </div>
                            </div>
                            <div class="two">
                               <div class="replacementContainer">
                                    <ul id="regexList">
                                        {% if chat_user_dict.character.regexes|length!=0 %}
                                        {% for replacement in chat_user_dict.character.regexes %}
                                        <li><input type="text" name="regex_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="regex_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteRegex">x</a></li>
                                        {% endfor %}

                                        {% else %}
                                        <li><input type="text" name="regex_from" size="4"> to <input type="text" name="regex_to" size="4"> <a href="#" class="deleteRegex">x</a></li>
                                        {% endif %}
                                    </ul>
                                    <a href="#" id="addRegex">+Add another replacement</a>
                                    <br />
                                    <a href="#" id="clearRegexes">-Clear replacements</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="big" type="submit">Apply</button>
                </div>

                <div class="card">
                    <h1 class="titi">OPTIONS</h1>
                    <div class="stoptions">

                        <div id="notificationHead" data-ng-app>
                            <div id="notifications">
                                <label><input type="checkbox" class="deskset" name="deskset" autocomplete="off"><div class="checkbox"></div><div class="checkbox-text">Desktop Notifications</div></label>
                            </div>
                        </div>

                        <label id="soundNotificationToggle"><input type="checkbox" autocomplete="off" {% if chat_user_dict.meta.sound_notifications %}checked{% endif %}><div class="checkbox"></div><div class="checkbox-text">Sound Notifications</div></label>

                        <label id="typingNotificationToggle"><input type="checkbox" autocomplete="off" {% if chat_user_dict.meta.typing_notifications %}checked{% endif %}><div class="checkbox"></div><div class="checkbox-text">Typing Notifications</div></label>

                        <label id="previewToggle"><input type="checkbox" autocomplete="off"><div class="checkbox"></div><div class="checkbox-text">Show Preview</div></label>

                        <label id="showInfoToggle"><input type="checkbox" autocomplete="off"  {% if chat_user_dict.meta.show_message_info %}checked{% endif %}><div class="checkbox"></div><div class="checkbox-text">Show Message Info</div></label>

                        <label id="showOOCToggle"><input type="checkbox" autocomplete="off"  {% if chat_user_dict.meta.show_ooc_messages %}checked{% endif %}><div class="checkbox"></div><div class="checkbox-text">Show OOC</div></label>

                        <label id="showICToggle"><input type="checkbox" autocomplete="off" {% if chat_user_dict.meta.show_ic_messages %}checked{% endif %}><div class="checkbox"></div><div class="checkbox-text">Show IC</div></label>

                        {% if chat.type == "group" %}
                        <label id="connectionMSGToggle"><input type="checkbox" autocomplete="off" {% if chat_user_dict.meta.show_connection_messages %}checked{% endif %}><div class="checkbox"></div><div class="checkbox-text">Connection Messages</div></label>
                        {% endif %}

                   </div>
                </div>
                
                {% if chat.type == "group" %}
                <div id="sharing" class="card stoptions">
                    <h1 class="titi">Share On...</h1>
                    <label><button type="button"><a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fcharatrp.com%2Fchat%2F{{chat.url}}&name=Charat - {{chat}}&description=Check out this cool group on Charat!&tags=charat, charatrp, roleplaying"
                    id="tumShare" target="_blank">Tumblr</a></button></label>
                    <label><button type="button"><a href="https://www.twitter.com/share?via=charatrp&url=http%3A%2F%2Fcharatrp.com%2Fchat%2F{{chat.url}}&name=Charat - {{chat}}&text=Check out this cool group on Charat!&hashtags=charat, charatrp, roleplaying"
                    id="twitShare" target="_blank">Twitter</a></button></label>
                    <label><button type="button"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcharatrp.com%2Fchat%2F{{chat.url}}"
                    id="faceShare" target="_blank">Facebook</a></button></label>
                </div>
                {% endif %}
            </div>
        </form>

        <div id="character-list" class="sidebar">
            <div class="sidebarContain">
                <div id="cancel-characters" class="card">[CANCEL]</div>
                <div class="characters">
                    <div id="change-character-list" class="card">
                        <div style="text-align: center; color: #000;">Sho Tran</div>
                        <div style="font-size: 14px;"><span style="color: #00dd00;">Sho Tran</span> [<span style="color: #00dd00">Sho</span>]</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="chatList" class="sidebar">
            <div class="sidebarContain">
                <div id="chatListChats">
                    <div class="card">
                        <h1 class="titi">{% if chat.title %}{{chat.title}}{% else %}{{chat.url}}{% endif %}</h1>
                    </div>
                </div>
                <div id="chatListAdd" class="card"><h1 class="titi">Add Chat +</h1></div>
                <div class="chatListCancel card"><h1 class="titi">Cancel</h1></div>
            </div>
        </div>

        <div id="chatPick" class="sidebar">
            <div class="sidebarContain">
                <div class="chatListCancel card"><h1 class="titi">Cancel</h1></div>
                <div class="card"></div>
                <div class="list"></div>
            </div>
        </div>

        <form class="controls">
            <div id="notificationWrapper">
                <div id="typingWrapper"></div>
                <div id="alertWrapper">Connecting...</div>
            </div>
            <div id="previewWrapper"><div id="preview"></div></div>
            <div id="control-container">
                <div id="textInput-container"><textarea id="textInput" maxlength="5000" name="textInput" style="color: #{{chat_user.color}};"></textarea></div>
                <div id="control-buttons">
                    <button class="send-button" type="submit">==></button>
                    <button class="ooc-button" type="button">ooc</button>
                    <button class="me-button" type="button">me</button>
                </div>
                <div id="aliasOffset"></div>
                <div id="quickSwitch"></div>
            </div>
        </form>

        <span class="hidden">
            <div id="save">
                <p>Did you enjoy that chat? If so, remember to save the log.</p>
                <form action="/logs/save" method="post" target="_blank"><p>
                    <input type="hidden" name="chat" value="">
                    <input id="saveLinking" type="submit" name="save" value="Save">
                </form>
            </div>
        </span>
        </div>

{% endblock %}
