<h2>Invitations to {{chat.title}}</h2>
{% if invites: %}
{# {{pager()}} #}
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Character</th>
            <th>Invited by</th>
            <th>Un-invite</th>
        </tr>
    </thead>
    <tbody>
        {% for invite, user in invites: %}
        <tr>
            <td>{{user.username}}</td>
            <td><span style="color: #{{invite.chat_user.color}}">{{invite.chat_user.name}}</span>{% if invite.chat_user.acronym != "": %} [<span style="color: #{{invite.chat_user.color}}">{{invite.chat_user.acronym}}</span>]{% endif %}</td>
            <td>{% if invite.creator %}{{ invite.creator.username }}{% endif %}</td>
            <td>{% if user != g.user: %}<form action="{{url_for("rp_chat_uninvite", url=chat.url)}}" method="post">
                <input type="hidden" name="username" value="{{user.username}}">
                <button type="submit">Un-invite</button>
            </form>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{# {{pager()}} #}
{% else: %}
<p>Nobody has been invited to this chat.</p>
{% endif %}
<form action="{{url_for("rp_chat_invite", url=chat.url)}}" method="post">
    <input type="hidden" name="token" value="{{g.csrf_token}}">
{% if "invite_error" in request.args and request.args["invite_error"] == "no_user": %}
    <p class="error">There doesn't seem to be an account with that username.</p>
{% elif "invite_error" in request.args and request.args["invite_error"] == "yourself": %}
    <p class="error">You can't invite yourself.</p>
{% endif %}
    <p>Username: <input type="text" name="username" required> <button type="submit">Invite</button></p>
</form>
