<h2>Users in {{chat.title}}</h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Character</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
{% for chat_user, user in users: %}
    <tr>
      <td>{{user.username}}</td>
      <td><span style="color: #{{chat_user.color}}">{{chat_user.name}}</span>{% if chat_user.alias != "": %} [<span style="color: #{{chat_user.color}}">{{chat_user.alias}}</span>]{% endif %}</td>
      {% if chat_user.ban == None: %}
      <td>
        {{{"admin": "Adorable Admin", "creator": "Chat Creator", "mod3": "Magical Mod", "mod2": "Cute-Cute Mod", "mod1": "Little Mod", "user": "User", "silent": "Silenced"}[chat_user.computed_group]}}{% if chat.publicity == "private" and chat_user.invite != None: %}, invited by {{chat_user.invite.creator.username}}{% endif %}
      </td>
      {% else: %}
      <td>
        Banned {{chat_user.ban.created.strftime("%d %b %Y")}} by {{chat_user.ban.creator.username}}.{% if chat_user.ban.reason: %} Reason: {{chat_user.ban.reason}}{% endif %}
        {% if own_chat_user != None and own_chat_user.can("ban"): %}
        <form action="{{url_for("rp_chat_unban", url=chat.url)}}" method="post"><input type="hidden" name="token" value="{{g.csrf_token}}"><input type="hidden" name="user_id" value="{{user.id}}"><button type="submit">Unban</button></form>
        {% endif %}
      </td>
      {% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
