<h1>Your characters</h1>

<p>Are you sure you want to delete this character? Deleting a character is irreversible and cannot be undone.</p>

<form action="{{url_for("rp_delete_character_post", character_id=character_id)}}" method="post">
  <p><button type="submit">Delete character</button></p>
</form>
