{% extends "rp/base.html" %}

{% block header %}
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
        <meta name="google-site-verification" content="znswNBCILwHT7PDf5B_f-Ug1-dYnDwrtQyhDw5zKCl0" />
{% endblock %}

{% block content %}
        <div class="body">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <!-- Put in some noscript things -->
            <div id="chat-options" class="section">
                <div class="titli">CHAT</div>
                <div id="choices" class="card">
                    <p>Welcome to Charat RP. Here you can search for people to roleplay with. Whether it be group chats, a random person or a person with a prompt, I hope that you will enjoy your stay here!</p>
                    <p style="color:#d00">{{create_chat_error}}</p>
                    <center>
                        <a class="button" href="">Guide</a>
                        <a class="button" href="{{url_for('rp_chat_list')}}">Chats</a>
                        <a class="button" href="{{url_for('rp_character_list')}}">Characters</a>
                        {% if g.user != None: %}
                        <a class="button" href="{{url_for('settings')}}">Settings</a>
                        <form class="log_out_form" action="{{url_for("log_out")}}" method="post"><button type="submit" class="log_out">Log out</button></form>
                        {% else %}
                        <a class="button" href="{{url_for('log_in')}}">Log in</a>
                        <a class="button" href="{{url_for('register')}}">Register</a>
                        {% endif %}
                        <a class="button" href="">Chat</a>
                    </center>
                </div>
            </div>

            {% if not g.user %}
            <div id="log_in-register" class="section">
                <div class="titli">LOG IN/REGISTER</div>
               
                <div id="log_in" class="card">
                    {% if "log_in_error" in request.args: %}
				    {% if request.args["log_in_error"] == "no_user": %}
                    <span class="error">There doesn't seem to be an account with that username.</span>
				    {% elif request.args["log_in_error"] == "wrong_password": %}
                    <span class="error">That password is incorrect.</span>
				    {% endif %}
                    {% endif %}
                    <form action="{{url_for('log_in')}}" method="post">
                        <div class="left">
                            <label>Username: </label><br />
                            <label>Password: </label>
                        </div>
                        <div class="right">
                            <input id="logUsername" type="text" name="username"><br />
                            <input id="logPassword" type="password" name="password">
                        </div>
                        <button type="submit">Log in</button>
                    </form>
                </div>
                
                <div id="register" class="card">
                    <a class="button" style="width:100%;box-sizing:border-box;" href="{{url_for('register')}}">Register</a>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
