{% extends "rp/base.html" %}
{% block title%}{{chat.title}} Log – Charat{% endblock %}
{% block header %}
        <link rel="stylesheet" href="{{url_for("static", filename="css/rp/chat.css")}}">
        <script src="{{url_for("static", filename="js/rp/log.js")}}" defer></script>
{% endblock %}


{% block pager %}
        {% if paginator.page_count!=1 %}
        <div class="pager">
        {{paginator.pager(format='~20~')}}
        </div>
        {% endif %}
{% endblock %}

{% block content %}
        {{ self.pager() }}
        <div id="archiveConversation">
            {% if messages|length!=0 %}
            {% set last_date = None %}
                {% for message in messages %}
                {% if message.type != 'join' and message.type != 'disconnect' and message.type != 'timeout' %}
                {% set current_date = message.posted.date() %}
                {% if current_date!=last_date %}
                <p class="info"></p>
                <h1>{{current_date.strftime("%A %d %B %Y")}}</h1>
                {% set last_date = current_date %}
                {% endif %}
                <span id="message{{message.id}}" class="{{message.type}} user{{message.user_id}}">
                    <p class="info">
                        <span class="left">{{message.name}}{% if message.type != "ic" %}:{{message.type}}{% endif %}</span>
                        <span class="right"><span class="username">{% if chat.type=='group' %}<a href="/pm/{{message.user.username}}">{{message.user.username}}</a>{% elif chat.type=='pm' %}{{message.user.username}}{% elif chat_user_dict.meta.user_id == message.user.id %}You{% endif %}</span> <span class="post_timestamp">{{message.posted|TSE}}</span></span> <!-- .strftime("%b %d %H:%M") -->
                    </p>
                    {% if message.type == 'me' %}
                    <p class="message">[color=#{{message.color}}]{{message.name}}[/color] {{"[[color=#"+message.color+"]"+message.alias+"[/color]]" if message.alias|length else ""}} {{message.text}}</p>
                    {% else %}
                    <p class="message" style="color: #{{message.color}};">{% if message.type == 'ooc' %}{{message.user.username}}:&nbsp;{% else %}{% if message.alias %}{{message.alias}}:&nbsp;{% endif %}{% endif %}{{message.text}}</p>
                    {% endif %}
                </span>
                {% endif %}
                {% endfor %}
            {% else %}
            <p>Log doesn't exist. If this is not supposed to be happening, send an ask to http://charatrp.tumblr.com</p>
            {% endif %}
            <p><a href="{{url_for("rp_chat", url=url)}}">Continue this chat</a></p>
        </div>

        {{ self.pager() }}
{% endblock %}
