{% extends "rp/base.html" %}
{% block title%}Chat Rooms – Charat{% endblock %}
{% block header %}
<script>
var chats = {{rooms|tojson|safe}};
</script>

{% if g.user.nsfw_access == False:   %}
<style>
    .nsfw {
        display: none;
    }
</style>
{% endif %}

<script src="{{url_for('static', filename='js/rp/chats.js')}}" defer></script>
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/home.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/front.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/chats.css')}}" />
{% endblock %}

{% block content %}
<div class="body">
    <!-- Put in some noscript things -->
    <div id="chat-pages" class="section">
        <div id="page-div">
            <div id="your-pages" class="section">
                <div class="titli">YOUR CHATS</div>
                <div class="card">
                    <div class="chat-types"><a href="/chats">All</a></div>
                    <div class="chat-types"><a href="/chats/group">Group</a></div>
                    <div class="chat-types"><a href="/chats/pm">Private</a></div>
                    <div class="chat-types"><a href="/chats/searched">Searched</a></div>
                    <div class="chat-types"><a href="/chats/unread">Unread</a></div>
                </div>
            </div>
            <div id="new-pages" class="section">
                <div class="titli">NEW CHATS</div>
                <div class="card">
                    <div class="chat-types">Rooms</div>
                    <div class="chat-types"><a href="/search">Random</a></div>
                    <div class="chat-types"><a href="/requests">Request</a></div>
                </div>
            </div>
            <div id="temp-create-chat" class="section">
                <div class="titli">CREATE CHAT</div>
                <div class="card">
                    {% if "create_chat_error" in request.args: %}
                    {% if request.args["create_chat_error"] == "url_invalid": %}
                    <p class="error">That URL isn't valid. Chat URLs can only contain letters, numbers, hyphens and underscores.</p>
                    {% elif request.args["create_chat_error"] == "url_taken": %}
                    <p class="error">That URL has already been taken.</p>
                    {% endif %}
                    {% endif %}
                    <form action="{{url_for("rp_create_chat")}}" method="post">
                        <p><input type="text" name="url" maxlength="50"><button type="submit">Create Room</button></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="titli">CHAT ROOMS</div>
        <div id="under-page"></div>
    </div>
</div>
{% endblock %}

