{% extends "rp/base.html" %}

{% block header %}
        <script src="{{url_for("static", filename="js/rp/search.js")}}" defer></script>
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}">
        <style>

        .searching {
            background-image: url("{{url_for("static", filename="img/rp/throbber.gif")}}");
            background-position: center;
            background-repeat: no-repeat;
        }

        .searching .body {
            display: none;
        }
        
        #tags {
            color: #527752;
        }

        </style>
{% endblock %}

{% block content %}
        <div class="body">
            <div class="section">
                <div class="titli">RANDOM SEARCH</div>
                <div class="card">
                {% if characters %}
                    <p>Search as: <select id="characterSelect">
                {% for character in characters: %}
                        <option value="{{character.id}}"{% if character.id == selected_character: %} selected="selected"{% endif %}>{{character.title}}</option>
                {% endfor %}
                    </select></p>
                {% else %}
                    <p>Currently searching as anonymous. <a href="{{url_for("rp_character_list")}}">Create a character</a> to customise who you appear as.</p>
                {% endif %}
                    <p>Tags: <input type="text" name="misc" maxlength="500" placeholder="Comma seperated" value="{{search_tags["misc"]}}"></label></p>
                    <input type="hidden" name="character_wanted" maxlength="500" value="">
                    <input type="hidden" name="fandom_wanted" maxlength="500" value="">
                    <input type="hidden" name="gender_wanted" maxlength="500" value="">
                    <p>
                    Being searched: <span id="tags">{{search_tags.misc}}</span>
                    </p>
                    <p><button id="searchButton">Search</button></p>
                </div>
            </div>
        </div>
{% endblock %}
