{% extends "rp/base.html" %}
{% block title%}Settings - Charat{% endblock %}

{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/home.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/front.css')}}" />
{% endblock %}

{% block content %}
        <div class="body">
            <div class="section">
                <div class="titli">SETTINGS</div>
                <div class="card">
                    <form action="{{url_for("settings_post")}}" method="post">
                        {% for option in options %}
                        <label><input type="checkbox" name="{{option}}" {% if g.user[option]: %}checked="checked"{% endif %} autocomplete="off"><div class="checkbox"></div><div class="checkbox-text">{{options[option]}}</div></label><br />
                        {% endfor %}
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
