<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Apple Icons -->
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='img/favicons/blog/touch-icon-iphone.png')}}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{url_for('static', filename='img/favicons/blog/touch-icon-ipad.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{url_for('static', filename='img/favicons/blog/touch-icon-iphone-retina.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{url_for('static', filename='img/favicons/blog/touch-icon-ipad-retina.png')}}">
        
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1" />
        
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/blog/base.css")}}"/>
        <script src="{{url_for("static", filename="js/jquery.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/blog/base.js")}}" defer></script>
        {% block header %}{%endblock %}
    </head>
    <body>
        <center>
            <div id="header">
                <a href="{{url_for('blog_home')}}">
                    <img id="blog-logo" src="{{url_for('static', filename='img/favicons/blog/touch-icon-iphone.png')}}" />
                    <h1 id="title">The Charat Blog</h1>
                </a>
                <subtitle>Updates and Information<subtitle>
                <div id="menu">
                    <a href="{{url_for('home')}}">Home</a>
                    <a href="{{url_for('blog_home')}}">Blog</a>
                    {% if g.user %}
                    <form action="{{url_for("log_out")}}" method="post"><button type="submit">Log out</button></form>
                    {% else %}
                    <a href="{{url_for('log_in')}}">Log in</a>
                    {% endif %}
                </div>
            </div>
            <br />
            {% block content %}{% endblock %}
        </center>
    </body>
</html>

