{% extends "blog/base.html" %}

{% block header %}
        <title>The Charat Blog – Updates and Information</title>
{% endblock %}

{% block content %}
            <div class="posts">
                {% for key in posts|sort %}
                {% set post = posts[key] %}
                <div id="post-{{post.id}}" class="blog-post">
                    <a href="{{url_for("blog_home")}}post/{{post.id}}">
                        <div class="block">
                            <header>{{post.title}}</header>
                            <subtitle>{{post.author}}</subtitle>
                        </div>
                    </a>
                    <div class="content">{{post.content}}</div>
                </div>
                {% endfor %}
            </div>
{% endblock %}

