{% extends "blog/base.html" %}

{% block header %}
        <title>{{post.title}} – The Charat Blog</title>
{% endblock %}

{% block content %}
            <div class="posts">
                <div id="post-{{post.id}}" class="blog-post">
                    <div class="block"><header>{{post.title}}</header><subtitle>{{post.author}}</subtitle></div>
                    <div class="content">{{post.content}}</div>
                </div>
            </div>
{% endblock %}

