#post {
	margin-bottom: 0px;
}

input[name="title"] {
    width: 150px;
}

#draft {
	margin-top: 0;
}

#existing-character-select {
	display: inline-block;
	width: 190px;
	margin-bottom: 0;
}

#editor-button {
	margin-top: 0;
}

#maturity-select {
	display: inline-block;
	width: 150px;
	margin-bottom: 0;
}

#wanted-tags {
	margin-top: 10px;
}

#edit-character {
	display: none;
}

a#editor-button {
	box-sizing: border-box;
	width: 270px;
	max-width: 100%;
	margin-bottom: 10px;
}

#note-alert, #prompt-alert {
	color: #f33;
}

.area-select .area textarea {
	border: none;
	width: 100%;
	padding: 2px;
	margin: 0;
}
