/* Global*/

* {
    -webkit-overflow-scrolling: touch;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Sans-Serif;
    background-attachment: fixed;
    word-wrap: break-word;
    padding-top: 2.5em;
    background-color: #C0F0C0;
    margin: 0;
}

a {
    color: #507050;
    text-decoration: none;
}

a:hover {
    color: #80A080;
}

a.button, #chat-options .log_out_form {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    display: inline-block;
    background-color: #69926A;
    color: #fffffb;
    padding: 5px;
    padding-bottom: 7px;
    margin-top: 5px;
    width: 110px;
    text-align: center;
}

a.button:hover, #chat-options .log_out_form:hover {
    color: #fffffb;
    background-color: #70A070;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button.big {
    font-size: 20px;
    width: 270px;
    margin-top: 0;
    margin-bottom: 10px;
}

input, button, textarea {
    border: 1px solid #92B792;
    border-radius: 0;
}

input[type="text"], input[type="submit"], input[type="password"], textarea {
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
}

input[type="submit"], button {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    background-color: #69926A;
    color: #fffffb;
    border: 0;
    padding: 5px;
    padding-bottom: 7px;
    width: auto;
    height: auto;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #70A070;
}

input, textarea, select {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #F8F8F8;
    padding-left: 2px;
    height: 25px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

textarea {
    font-family: sans-serif;
    height: 200px;
}

input:hover, textarea:hover {
    background-color: #fffffb;
}

.radio, .radio-text {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + .radio {
    display: inline-block;
    border: 2px solid #92B792;
    border-radius: 10px;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

input[type="radio"]:checked + .radio {
    background-color: #92B792;
}

.radio + .radio-text {
    position: relative;
    display: inline-block;
    top: -2px;
}

.checkbox {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + .checkbox {
    display: inline-block;
    border: 2px solid #92B792;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

input[type="checkbox"]:checked + .checkbox {
    background-color: #92B792;
}

.checkbox + .checkbox-text {
    position: relative;
    display: inline-block;
    top: -2px;
    cursor: pointer;
}

.select-bind {
    font-family: Sans-Serif;
    position: relative;
    height: 25px;
    overflow: hidden;
    background-color: #F8F8F8;
    border: 1px solid #92B792;
    padding: 0;
    margin-bottom: 10px;
    vertical-align: middle;
}

.select-bind:hover {
    background-color: #fffffb;
}

.select-bind .arrow {
    position: absolute;
    background-color: #92B792;
    color: #fffffb;
    font-size: 20px;
    height: 30px;
    top: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
}

.select-bind:hover > .arrow {
    color: #fffffb;
}

.select-bind select {
    position: relative;
    top: -1px;
    background: transparent;
    width: 100%;
    height: 25px;
    border: 0;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

label {
    display: inline-block;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

optgroup {
    color: #666666;
    font-style: normal;
}

optgroup option {
    color: #000000;
    padding: 0 10px;
}

h1 {
    font-size: 14pt;
    margin: 5px;
}

p {
    margin: 0;
    padding: 2px 5px;
}

hr {
    margin: 5px 0;
    border-color: #92B792;
    border-style: solid;
    border-width: 1px 0 0 0;
}

div.options h1, div.options h2 {
	margin: 0px;
	display: inline;
}

div.options button {
	vertical-align: 20%;
}

.line-behind-wrapper {
    cursor: pointer;
}

.line-behind-wrapper .text {
    font-size: 16px;
    position: relative;
    color: #999;
    background-color: #fffffb;
    text-align: center;
    width: 100px;
    margin: auto;
    z-index: 1;
}

.line-behind-wrapper .line-behind {
    position: relative;
    top: 12px;
    border-bottom: solid 1px #aaa;
}

/* Top Bar */

#topbar {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
    background-color: #AACCAA;
    background-color: rgba(170, 204, 170, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1.2em;
    z-index: 100;
}

#topbar .right.userList .userList, #topbar .right.settings .settings {
    color: #A0D6A0;
}

#topbar #toptitle {
    background-color: #90B090;
    background-color: rgba(144, 174, 144, 0.8);
    height: 1.2em;
    max-width: 100%;
}

#topbar #toptitle:hover {
    background-color: #80A080;
}

#topbar #topmenu a:hover:before {
    content: ">";
}

#topbar #topmenu a:hover:after {
    content: "<";
}

#topbar #topmenu {
    background-color: #90B090;
    background-color: rgba(144, 174, 144, 0.9);
    margin: auto;
}

#topbar #toptitle, #topbar #topmenu, #topbar #topmenu a {
    color: #CCFFCC;
    width: 300px;
    cursor: pointer;
}

#topbar #toptitle {
    display: inline-block;
    cursor: pointer;
}

#topbar #topmenu {
    display: none;
}

body.menu #topbar #topmenu {
    display: block;
}

#topmenu .log_out_form button {
    background-color: transparent;
    color: #CFC;
    width: 300px;
    cursor: pointer;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 0;
    padding: 3px;
}

#topmenu .log_out_form:hover .log_out:before {
    content: ">";
}

#topmenu .log_out_form:hover .log_out:after {
    content: "<";
}

#topbar .topborder {
    background-color: inherit;
    width: 270px;
    margin: auto;
    border-bottom: solid 1px #CCFFCC;
}

#topbar #topmenu a {
    display: block;
}

#topbar.unread #goChats {
    background-color: #f4f5ae;
}

#topmenu .log_out, #topmenu .log_in {
    padding-bottom: 5px;
}

/* Area Select */

.area-select {
    position: relative;
}

.area-select .selection {
    border: 1px solid #92B792;
    height: 30px;
    cursor: pointer;
}

.area-select .selection div {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #729772;
    width: 50%;
    height: 30px;
    padding-top: 3px;
}

.area-select .selection .one {
    left: 0;
}

.area-select.one .selection .one, .area-select.two .selection .two {
    background-color: #92B792;
    color: #fff;
    cursor: auto;
}

.area-select .selection .two {
    right: 0;
}

.area-select .area {
    border: 1px solid #92B792;
    border-top: none;
}

.area-select.one .area .two, .area-select.two .area .one {
    display: none;
}

/* Chat */

.stoptions label {
    display: block;	
}

div.chat-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #EEE;
}

#chat-log {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	position: absolute;
}

#chat-log-inner {
	margin: 1em;
}

#chat-hover {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #DDD;	
}

#chat-hover input#chat-line {
	width: 100%;
	margin:0;
	border-left: 0;
	border-right: 0;
}

#preview-text {
    margin-top: 3px;
}

#hide-preview {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
	bottom: 23px;
	text-decoration: none;
}

#hide-preview:link ,#hide-preview:visited {	
	color: grey;
}

/* MOBILE */

body.mobile div.online-notice {
    float: left;
}

.screen-nobile, .screen-mobile,
body.nobile .screen-desktop, body.nobile .screen-mobile,
body.mobile .screen-desktop, body.mobile .screen-nobile {
    display: none;
}

body.nobile .screen-nobile, body.mobile .screen-mobile {
    display: block;
}
