#characters {
    font-size: 14px;
}
#characters .character-title {
    font-size: 18px;
    text-align: center;
}
#characters .character-title span {
    color: #c00;
}

#characters .options {
    font-size: 15px;
}