.section .section {
    width: 100%;
    max-width: 310px;
    margin: 0;
}

#chat-pages {
    width: 100%;
    max-width: 940px;
}

body.nobile #chat-pages {
    max-width: 620px;
}

body.mobile #chat-pages {
    max-width: 310px;
}

#your-pages .card, #new-pages .card {
    text-align: center;
}

.card .chat-types {
    display: inline-block;
    font-size: 16px;
}

#under-page .section {
    display: inline-block;
}

.card.chat {
    position: relative;
}

.card.chat a.title {
    display: block;
    font-size: 20px;
    text-align: center;
}

.users-online {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.card.chat .topic {
    display: none;
    font-size: 16px;
}

.card.chat.group {
    border-bottom: solid 2px #c50;
}

.card.chat.pm {
    border-bottom: solid 2px #0ad;
}

.card.chat.unread:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #696969 #696969 #fff #fff;
}

.card.chat.group:before {
    border-color: #c50 #c50 #fff #fff;
}

.card.chat.pm:before {
    border-color: #0ad #0ad #fff #fff;
}

a.nsfw {
    color: #df4994;
}

a.nsfw:hover {
    color: #ff69b4;
}