/* General */

body {
    font-size: 16px;
}

#conversation, #previewWrapper, .pager, #archiveConversation {
    background-color: #fffffb;
}

a#logAnchor {
    text-decoration: none;
}

.timestamp {
    display: none;
}

.p {
    margin: 0;
    padding: 2px 5px;
}

.bar {
    display: block;
    border-bottom: solid 1px #ddd;
    width: 100%;
    margin-bottom: 8px;
}

p:hover .timestamp {
    display: block;
    float: right;
    color: #666;
}

.select-bind {
    display: inline-block;
}

/* Top Bar */

#topbar.chatbar {
    font-size: 35px;
    position: absolute;
    background-color: #fffffb;
    height: 44px;
}

#topbar.chatbar center {
    height: 44px;
}

#topbar.chatbar #toptitle {
    color: #92B792;
    position: relative;
    top: -6px;
    width: 44px;
    height: 44px;
    padding: 0 5px;
    padding-bottom: 2px;
    background-color: transparent;
    display: inline;
    width: auto;
}

#topbar.chatbar #toptitle:hover {
    background-color: transparent;
}

body.menu #topbar.chatbar #toptitle {
    background-color: #f6f6f6;
}

#topbar.chatbar.unread #toptitle {
    padding-bottom: 0;
}

#topbar.chatbar.unread #toptitle img {
    border-bottom: solid 2px #00aadd;
}

#topbar.chatbar #toptitle:hover {
    background-color: #f6f6f6;
}

#toptitle img {
    position: relative;
    top: 8px;
}

#topbar.chatbar #topmenu {
    background-color: #f6f6f6;
    position: relative;
    top: -4px;
}

#topbar.chatbar #topmenu a, #topbar.chatbar #topmenu div, #topbar.chatbar #topmenu .log_out_form button {
    color: #a0d0a0;
    cursor: pointer;
    border: none;
}

#topmenu .log_out_form button {
    font-size: 35px;
}

#topmenu .topborder {
    border-color: #a0d0a0;
}

#topbar.chatbar .left {
    position: absolute;
    top: 0;
    left: 10px;
}

#topbar.chatbar .right {
    position: absolute;
    top: 0;
    right: 10px;
}

#topbar.chatbar span span {
    color: #69926A;
    cursor: pointer;
}

/* Chat layout */

#conversation, .card {
    border-bottom: solid 2px #696969;
}

#convo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    bottom: 0px;
}

#conversation {
    font-family: Sans-Serif;
    font-weight: 400;
    line-height: 120%;
    position: absolute;
    top: 55px;
    right: 10px;
    bottom: 110px;
    left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#conversation p, #archiveConversation p {
    padding-bottom: 5px;
    overflow: hidden;
}

#users {
    margin-top: 5px;
    overflow: hidden;
}

.ooc .info, .ooc .message {
    opacity: .5;
}

.ooc:hover .info, .ooc:hover .message {
    opacity: 1;
}

.info {
    position: relative;
    top: 4px;
    font-size: 10px;
    color: #aaa;
    border-top: solid 1px #eee;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

body.hideInfo .info {
    display: none;
}

body.hideOOC .ooc {
    display: none;
}

body.hideIC .ic, body.hideIC .me {
    display: none;
}

body.hideIC .ooc .info, body.hideIC .ooc .message {
    opacity: 1;
}

body.hideConnection .disconnect, body.hideConnection .join, body.hideConnection .timeout {
    display: none;
}

p.info .right {
    float: right;
}

body.withSidebar #conversation {
    right: 340px;
}

body.mobile.withSidebar #conversation {
    right: 10px;
}

.sidebar {
    background-color: #AACCAA;
    background-color: rgba(0, 0, 0, .15);
    display: none;
    position: absolute;
    top: 55px;
    right: 10px;
    bottom: 10px;
    width: 320px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.sidebar .sidebarContain {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body.mobile .sidebarContain {
    padding-right: 5px;
}

.card {
    font-family: sans-serif;
    font-weight: 400;
    background-color: #fffffb;
    color: #6A936B;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.card button {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 3px;
}

.stoptions button {
    font-size: 20px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;
}

.stoptions label {
    margin-top: 10px;
    cursor: pointer;
}

#publicityWrapper {
    margin-bottom: 0;
}

#topic {
    padding: 0;
    padding-bottom: 5px;
    word-wrap: break-word;
}

#topic.hide {
    height: 100px;
    overflow: hidden;
}

#topic:empty:after {
    content: "(empty)";
    padding: 2px 0;
    color: #999999;
}

#topicButton {
    margin-top: 0;
    margin-bottom: 5px;
}

#userList.admin #topicButton, #userList.creator #topicButton, #userList.mod3 #topicButton,
#userList.mod2 #topicButton, #userList.mod1 #topicButton {
    display: inline-block;
}

ul#metaOptions {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    list-style-type: none;
}

#users:empty:after {
    content: "(no-one)";
    display: block;
    padding: 2px 0;
    color: #999999;
}

#users li, #idle li {
    cursor: pointer;
}

#settings .card {
    font-size: 20px;
    background-color: #fffffb;
    border-bottom: solid 2px #696969;
    text-align: left;
}

#settings .section .right.card {
    display: block;
}

.card .titi {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #6A936B;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#settings label {
    margin-top: 1px;
    margin-bottom: 6px;
}

#settings .card .left, #settings .card .right {
    display: inline-block;
}

#settings .card .left {
    width: 30%;
}

#settings .card .right {
    width: 67%;
}

#settings .card .right input {
    width: 100%;
}

.replacementContainer {
    background-color: #F8F8F8;
    padding: 10px;
    height: 178px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.replacementContainer {
    font-size: 16px;
}

.replacementContainer input {
    font-size: 14px;
    height: 20px;
    width: 70px;
}

#replacementList, #regexList {
    margin-bottom: 5px;
}

input[name='quirk_from'], input[name='regex_from'] {
    margin-right: 15px;
    background-color: #fff;
}

input[name='quirk_to'], input[name='regex_to'] {
    margin-left: 15px;
    background-color: #fff;
}

.replacementContainer a {
    color: #000000;
}

a#addReplacement, a#clearReplacements, a#addRegex, a#clearRegexes {
    font-size: 14px;
}

.controls {
    position: fixed;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: -1;
}

body.withSidebar .controls {
    right: 340px;
}

body.withSidebar.mobile .controls {
    right: 10px;
}

#quickSwitch {
    display: none;
    position: relative;
    background-color: #fffffb;
    height: 55px;
    padding: 5px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
}

#cancelSwitch {
    display: inline-block;
    cursor: pointer;
}

#quickSwitch .characterSwitch {
    display: inline-block;
    cursor: pointer;
}

#notificationWrapper {
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 0 10px;
}

#alertWrapper {
    color: #c00;
}

#preview {
    display: none;
    padding: 5px;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
    white-space: pre-wrap;
}

#control-container {
    position: relative;
    background-color: #fffffb;
    width: 100%;
    height: 65px;
    border-bottom: solid 2px #696969;
    overflow: hidden;
}

#textInput-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 80px;
}

#textInput {
    font-size: 16px;
    background-color: #fffffb;
    display: block;
    height: 65px;
    width: 100%;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
    border: none;
    outline: none;
}

#statusInput {
    color: #B0E0B0;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-size: 35px;
    background-color: transparent;
    height: 100%;
    width: 110px;
    padding: 0 1px;
    margin: 0;
    border: none;
}

#statusButton {
    display: inline-block;
}

body #userListButton {
    display: none;
}

#control-buttons {
    position: absolute;
    width: 80px;
    height: 65px;
    margin: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#control-buttons button {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    padding: 0;
    height: 33px;
}

#control-buttons .send-button {
    position: absolute;
    font-size: 18px;
    height: 32px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #696969;
}

#control-buttons .ooc-button, #control-buttons .me-button {
    position: absolute;
    background-color: #69926A;
    font-size: 16px;
    width: 50%;
    bottom: 0;
}

#control-buttons .ooc-button.active, #control-buttons .me-button.active {
    background-color: #70A070;
}

#control-buttons .ooc-button {
    left: 0;
    border-right: 1px solid #696969;
}

#control-buttons .me-button {
    right: 0;
}

#aliasOffset {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
}

#commandText {
    position: absolute;
    font-size: 12px;
    color: #000;
    left: 1px;
    bottom: -7px;
}

body > #save {
    display: none;
}

#exclaim {
    position: relative;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#extain {
    position: relative;
    left: 3px;
}

#reclaim {
    position: relative;
    left: 2px;
}

/* Sidebars */

#settings, #userList {
    display: none;
}

#subscription {
    font-size: 23px;
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
}

.sidebar input[name="name"] {
    width: 90%;
}

.sidebar input[name="alias"] {
    margin-bottom: 4px;
}

.sidebar .select-bind {
    width: 100%;
}

.sidebar .stoptions button {
    font-size: 16px;
    margin-top: 2px;
}

#notificationHead p {
    padding: 0;
}

#notifications {
    cursor: pointer;
}

#notifications.default label, #notifications.denied label {
    pointer-events: none;
}

#notifications.default .checkbox, #notifications.denied .checkbox {
    border-color: #D56063;
    background-color: #D56063;
}

#notifications.default input[type="checkbox"]:checked .checkbox, #notifications.denied input[type="checkbox"]:checked .checkbox {
    background-color: #D56063;
}

#notifications.default, #notifications.denied {
    color: #D56063;
}

.sidebar label button a {
    color: #fffffb;
    text-decoration: none;
}


.card.change-character {
    text-align: center !important;
    cursor: pointer;
}

#cancel-characters {
    text-align: center;
    cursor: pointer;
}

#change-character-list {
    color: #000;
}

/* User List */

#users li.admin .userCharacter {
    text-decoration: underline;
}

#users li.creator .userCharacter {
    font-weight: 700;
}

#users li.mod3 .userCharacter, #users li.mod2 .userCharacter, #users  li.mod1 .userCharacter {
    font-style: italic;
}

#users li.silent .userCharacter {
    text-decoration: line-through;
}

#users li.admin .username:after {
    content: " – Adorable Admin";
}

#users li.creator .username:after {
    content: " – Chat Creator";
}

#users li.mod3 .username:after {
    content: " – Magical Mod";
}

#users li.mod2 .username:after {
    content: " – Cute-Cute Mod";
}

#users li.mod1 .username:after {
    content: " – Little Mod";
}

#users li.self .userCharacter:after {
    display: inline-block;
    color: #444444;
    font-weight: 400;
    text-decoration: none;
    content: "\00a0(you)";
}

/* User Buttons */
#users.mod3 .set .mod3,
#users.mod2 .set .mod3, #users.mod2 .set .mod2,
#users.mod1 .set .mod3, #users.mod1 .set .mod2, #users.mod1 .set .mod1,
#users.user .set, #users.user .user_action,
#users.silent .set, #users.silent .user_action {
    display: none;
}

#users.mod1 .user_action .ban, #users.mod2 .user_action .ban,
#users.mod1 .user_action .kick {
    display: none;
}

#users li.creator .set, #users li.admin .set,
#users li.creator .user_action, #users li.admin .user_action {
    display: none;
}

#users li.self .user_buttons .pm {
    display: none;
}

#users li.mod3 .mod3, #users li.mod3 .unsilent,
#users li.mod2 .mod2, #users li.mod2 .unsilent,
#users li.mod1 .mod1, #users li.mod1 .unsilent,
#users li.user .user, #users li.user .unsilent,
#users li.silent .silent, #users li.silent .user {
    display: none;
}

#users.mod3 li.mod3 .kick, #users.mod3 li.mod3 .ban,
#users.mod3 li.mod3 .user,
#users.mod2 li.mod3 .kick, #users.mod2 li.mod2 .kick,
#users.mod2 li.mod3 .user, #users.mod2 li.mod2 .user,
#users.mod1 li.mod3 .silent, #users.mod1 li.mod2 .silent, #users.mod1 li.mod1 .silent,
#users.mod1 li.mod3 .user, #users.mod1 li.mod2 .user, #users.mod1 li.mod1 .user {
    display: none;
}

#users .user_buttons {
    margin-left: 20px;
}

#users .user_buttons li {
    color: #507050;
}

#users .user_buttons li:hover {
    color: #6a936b;
}

/* Moderation */

#metaOptions label {
    width: 100%;
}

.metaOptions li label {
    pointer-events: none;
}

#userList.admin .metaOptions li label, #userList.creator .metaOptions li label, #userList.mod3 .metaOptions li label,
#userList.mod2 .metaOptions li label, #userList.mod1 .metaOptions li label {
    pointer-events: auto;
}

/* Chat List */

#chatListAdd, .chatListCancel, #chatPick .selection, #chatList .card {
    cursor: pointer;
}

#chatListAdd .titi, .chatListCancel .titi {
    margin-bottom: 5px;
}

/* Mobile */

body.mobile .sidebar {
    border: 0;
    top: 44px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: auto;
}

body.mobile .sidebarContain .card {
    position: relative;
    right: 2px;
}

#users li .username {
    display: block;
    color: #000000;
    font-size: 11px;
}

/* Archive */

.pager {
    padding: 2px 5px;
}

#archiveConversation {
    line-height: 120%;
    margin: 5px 0;
    padding: 2px 0;
}

/* Center */

.centerHorizontal {
    display: inline;
    position: absolute;
    left: 50%;
}

.centerVertical {
    display: inline;
    position: absolute;
    top: 50%;
}

/* BBCode */

.padded {
    padding: 5px;
    border-radius: 5px;
}

.spoil {
    border: dashed;
    border-width: 1px;
    border-right: 2px solid;
    border-left: 2px solid
}

.spoiler {
    padding: 0 5px;
    cursor: pointer
}

.spoiler.on {
    opacity: 0;
}

.spoiler.off {
    opacity: 1;
}

.spoiler.on a {
    pointer-events: none;
}

/* Transitions */

body {
    transition: background-color .5s;
}

#topbar .right.userList .userList, #topbar .right.settings .settings {
    transition: color .5s;
}

.card, .card .titi, #topbar.chatbar span span {
   transition: color .5s;
}

input[type="submit"], button, #control-buttons .ooc-button, #control-buttons .me-button {
    transition: background-color .5s;
}

.area-select .selection div {
    transition: color .5s;
}

.area-select.one .selection .one, .area-select.two .selection .two, .select-bind .arrow, input[type="checkbox"]:checked + .checkbox {
    transition: background-color .5s;
}

input, textarea, .area-select .area, .area-select .selection, .select-bind, input[type="checkbox"] + .checkbox {
    transition: border-color .5s;
}
