.quote-line {
    font-size: 16px;
}

.replacementContainer {
    background-color: #F8F8F8;
    padding: 10px;
    height: 172px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

.replacementContainer {
    font-size: 16px;
}

.replacementContainer input {
    font-size: 14px;
    height: 20px;
    width: 70px;
}

.replacementList {
    margin-bottom: 5px;
}

input[name='quirk_from'], input[name='regex_from'] {
    margin-right: 15px;
    background-color: #fff;
}

input[name='quirk_to'], input[name='regex_to'] {
    margin-left: 15px;
    background-color: #fff;
}

.replacementContainer a {
    color: #000000;
}

a#addReplacement, a#clearReplacements,
a#addRegex, a#clearRegexes {
    font-size: 14px;
    text-decoration: none;
}

.tags {
    overflow: hidden;
    overflow-y: auto;
    height: 100px;
    width: 100%;
}

#tags p, #wanted-tags p {
    margin-bottom: 10px;
}

#tags .tag-container, #wanted-tags .tag-container {
    margin-top: 10px;
}

#tags .tag-container label, #wanted-tags .tag-container label {
    height: auto;
    width: 100%;
}

#tags input, #wanted-tags input {
    width: 100%;
}

.stats {
    font-size: 14px;
}

.stats a {
    display: inline-block;
}

.stats a.tag:before {
    content: "#";
}

.stats a.tag:after {
    content: " ";
}

body.nobile #typing-quirks, body.mobile #typing-quirks {
    margin-top: 0;
}

body.nobile .section .left, body.mobile .section .left,
body.nobile .section .center, body.mobile .section .center,
body.nobile .section .right, body.mobile .section .right {
    display: block;
}

button.save_character {
    display: block;
    width: 80%;
    min-width: 290px;
    margin: auto;
    margin-bottom: 10px;
}

body.nobile button.save_character {
    min-width: 0px;
    width: 290px;
}

body.mobile button.save_character {
    min-width: 0px;
    width: 290px;
    max-width: 90%;
}

.card.save_as {
    text-align: center;
}

.card.save_as input {
    text-align: center;
}

