/* Homepage */

noscript, .error {
    color: #ff0000;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

/* NEW */

body.nobile .section-bind {
    display: inline-block;
    width: 290px;
}

div.body {
    text-align: center;
}

.section {
    display: inline-block;
    background-color: #BBDDBB;
    vertical-align: top;
    margin: 10px;
}

.section p {
    font-size: 16px;
}

.section .left, .section .center, .section .right {
    display: inline-block;
    vertical-align: top;
}

.section input[type="submit"], .section button {
    font-size: 20px;
    width: 270px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

.titli {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #638764;
    text-align: center;
    padding-top: 10px;
}

.card {
    font-size: 20px;
    background-color: #fffffb;
    border-bottom: solid 2px #696969;
    margin: 10px;
    padding: 10px;
    width: 270px;
    text-align: left;
}

body.mobile .card {
    display: block;
    width: auto;
    max-width: 100%;
}

.card button {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

.section .right.card {
    display: block;
}

.card .titi {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #6A936B;
    text-align: center;
    margin-bottom: 10px;
}

.card .titi:nth-child(n+2) {
    margin-top: 10px;
}

label {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol", "Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    height: 30px;
    margin-bottom: 1px;
}

.card .left {
    width: 30%;
}

.card .right {
    width: 67%;
}

.card .right input, .card .right select {
    width: 100%;
}

#log_in-register .card .left {
    width: 45%;
}

#log_in-register .card .right {
    width: 50%;
}

#choices {
    line-height: 120%;
}

body.mobile .section {
    width: 100%;
    max-width: 310px;
    margin-left: 0;
    margin-right: 0;
}

#chat-options .log_out_form {
    color: #fffffb;
    padding: 0 5px;
}

#chat-options .log_out_form button {
    top: auto;
    margin: 0;
}

