div.online-notice {
    float: left;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

p:hover .timestamp {
    display: none;
    float: right;
    color: #666;
}

div.useranch span {
    display: block;
    overflow: hidden;
    border: 1px solid #92B792;
}

div.useranch label {
    float: left;
}

div.useranch input {
    width: 100%;
    border: none;
}