.section .section {
    max-width: 300px
}

hr {
    margin-top: 10px;
}

fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-request {
    font-size: 16px;
}

.chat-request .prompt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-request .prompt-ellipse {
    color: #000;
}

.chat-request .prompt-finish {
    display: none;
}

.chat-request .prompt-toggle {
    color: #507050;
    cursor: pointer;
}

.chat-request .prompt-toggle:hover {
    color: #80A080;
}

a:hover {
    color: #80A080;
}

.chat-request .request-header {
    text-align: center;
    font-size: 18px;
}

.chat-request fieldset {
    border: solid 1px #92B792;
}

.chat-request .tag-trigger {
    border: dashed 2px #c55;
}

.chat-request .tag-trigger legend {
    color: #c00;
}

.chat-request .more {
    display: none;
}

.tag-list span:not(:last-child):after {
    content: ",";
}

.chat-request .edit-buttons {
    text-align: center;
}
