{% extends "rp/base.html" %}

{% block header %}
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
{% endblock %}

{% block content %}
        <div class="body">
            <!-- Put in some noscript things -->
            <div id="chat-options" class="section">
                <div class="titli">DELETE</div>
                <div id="choices" class="card">
					<form action="{{url_for("rp_delete_request_post", request_id=search_request.id)}}" method="post">
						<p style="text-align:center;color:#f00;">DELETING A REQUEST IS PERMANENT</p>
					  	<p>Are you sure you would like to continue?</p>
					  	{% if search_request.status == "posted": %}
					  	<p>You can hide your request if you <a style="color:#33f;" href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}">[EDIT]</a> the request and select the "Save" option.</p>
					  	{% endif %}
					  	<p><button type="submit">Delete Request</button></p>
					</form>
                </div>
            </div>
        </div>
{% endblock %}
