{% extends "rp/base.html" %}
{% block title %}Add Request – Charat{% endblock %}

{% block header %}
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/home.css")}}" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/front.css")}}" />
        <link rel="stylesheet" media="screen" type="text/css" href="{{url_for("static", filename="css/rp/addrequest.css")}}" />
        <script src="{{url_for("static", filename="js/rp/characters.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/home.js")}}" defer></script>
        <script src="{{url_for("static", filename="js/rp/request.js")}}" defer></script>
{% endblock %}

{% block content %}
        <form id="request-form" action="{{url_for("rp_new_request_post")}}" method="post">
            <div id="edit-request" class="body">
                <div class="section">
                    <div class="titli">NEW REQUEST</div>

                    <div class="left">
                        <div id="characterselect" class="card">
                            <div class="titi">CHARACTER</div>
                            
                            {% if characters: %}
                            <label><input id="new-character" name="new_or_saved_character" value="new" type="radio"><div class="radio"></div><div class="radio-text">Use New Character</div></label>

                            <label><input id="saved-character" name="new_or_saved_character" value="saved" type="radio" checked><div class="radio"></div><div class="radio-text">Use
                                <div id="existing-character-select" class="select-bind"><div class="arrow">▼</div>
                                    <select id="characters" name="character_id">
                                                                    
                                    {% for character in characters: %}
                                    <option value="{{character.id}}" {% if character.id == g.user.default_character_id: %}selected="selected"{% endif %}>{{character.title}}</option>
                                    {% endfor %}
                                        
                                    </select>
                                </div>
                            </div></label>

                            <div class="titi">EDIT</div>

                            <label><input name="edit_character" type="checkbox"><div class="checkbox"></div><div class="checkbox-text">Edit Character</div></label>

                            {% else %}
                            <input type="hidden" name="new_or_saved_character" value="new">
                            {% endif %}

                            <div id="edit-options">
                                {% if characters: %}
                                <label id="save-to-characters"><input name="save_character_as" value="update" type="radio" checked="checked"><div class="radio"></div><div class="radio-text">Save to selected character</div></label>
                                {% endif %}
                                
                                <label><input name="save_character_as" value="new" type="radio"><div class="radio"></div><div class="radio-text">Save as <input type="text" name="title" maxlength="50"></div></label>

                                <label><input name="save_character_as" value="temp" type="radio" checked><div class="radio"></div><div class="radio-text">Don't save character</div></label>
                            </div>
                            
                            <a id="editor-button" class="button" href="">Character Editor</a>
                            <button id="draft" name="draft" value="Save as draft" type="submit">Save Draft</button>
                            <button id="post" name="post" value="Post request" type="submit">Publish</button>
                        </div>
                    </div>

                    <div class="center">
                        <div id="wanted-tags" class="card">
                              <div class="titi">LOOKING FOR</div>
                              <p>Seperate your tags by commas</p>
                              <div class="tag-container"><label>Characters: <input name="character_wanted" maxlength="500" type="text"></label></div>
                              <div class="tag-container"><label>Fandoms: <input name="fandom_wanted" maxlength="500" type="text"></label></div>
                              <div class="tag-container"><label>Genders: <input name="gender_wanted" maxlength="500" type="text"></label></div>

                              <div class="titi">OTHER</div>
                              <div class="tag-container"><label>Triggers: <input name="trigger" maxlength="500" type="text"></label></div>
                              <div class="tag-container"><label>Other: <input name="misc" maxlength="500" type="text"></label></div>
                        </div>
                    </div>

                    <div class="right">
                        <div id="details" class="card">
                            <div class="titi">DETAILS</div>
                            Maturity: <div id="maturity-select" class="select-bind"><div class="arrow">▼</div>
                                <select name="maturity">
                                    {% for name in Tag.maturity_names: %}
                                    {% if nsfw_access == True or (name != 'explicit' and name != 'mature') %}<option value="{{name}}">{{name.capitalize()}}</option>{% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="wanted-tags">
                                {% for name in Tag.type_names: %}
                                {% if nsfw_access == True or name != 'sexual' %}<label class="checkbox"><input name="type_{{name}}" autocomplete="off" type="checkbox"><div class="checkbox"></div><div class="checkbox-text">{{name.capitalize()}}</div></label>{% endif %}
                                {% endfor %}
                            </div>
                            
                            <div class="area-select one">
                                <div class="selection">
                                    <div class="one">Prompt<span id="prompt-alert">*</span></div>
                                    <div class="two">Notes<span id="note-alert">*</span></div>
                                </div>
                                <div class="area"> 
                                    <div class="one"><textarea id="request_prompt" name="prompt"></textarea></div>
                                    <div class="two"><textarea id="request_scenario" name="scenario"></textarea></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Character Editor -->

            <div id="edit-character" class="body">
                <div class="section" id="character-config">
                    <div class="titli">EDIT CHARACTER</div>
                    <div id="char_left" class="left">
                        <div class="card character">
                            <div class="titi">CHARACTER DETAILS</div>
                            <div class="left">
                                <label>Name:</label><br />
                                <label>Alias:</label><br />
                                <label>Color:</label>
                            </div>
                            <div class="right">
                                <input id="usingname" type="text" name="name" value="{{character.name if character else "anonymous"}}" maxlength="50" /><br />
                                <input id="ailin" type="text" name="alias" value="{{character.alias if character else "??"}}" maxlength="15" /><br />
                                <input id="coln" type="text" name="color" value="{{character.color if character else "000000"}}" maxlength="6" />
                            </div>
                        </div>
                        <div class="card">
                            <div class="titi">TYPING PATTERNS</div>
                            <div class="left">
                                <label>Prefix: </label><br />
                                <label>Suffix: </label><br />
                                <label>Case: </label>
                            </div>
                            <div class="right">
                                <input id="prei" type="text" name="quirk_prefix" value="{{character.quirk_prefix if character else ""}}" /><br />
                                <input id="sufi" type="text" name="quirk_suffix" value="{{character.quirk_suffix if character else ""}}" /><br />
                                <div class="select-bind"><div class="arrow">▼</div>
                                    <select id="casing" name="case">
                                        {% for value, name in case_options.items(): %}
                                            <option value="{{value}}"{% if (character and value == character.case) or (value == "normal" and not character) %} selected="selected"{% endif %}>{{name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="char_center" class="center">
                        <div class="card" id="typing-quirks">
                            <div class="titi">REPLACEMENTS</div>
                            <div class="area-select one">
                                <div class="selection">
                                    <div class="one">Regular</div>
                                    <div class="two">Regex</div>
                                </div>
                                <div class="area"> 
                                    <div class="one">
                                        <div class="replacementContainer">
                                            <ul id="replacementList">
                                                {% if character and character.replacements|length!=0 %}
                                                {% for replacement in character.replacements %}
                                                <li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
                                                {% endfor %}
                                                
                                                {% else %}
                                                <li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
                                                {% endif %}
                                            </ul>
                                            <a href="#" id="addReplacement">+Add another replacement</a>
                                            <br />
                                            <a href="#" id="clearReplacements">-Clear replacements</a>
                                        </div>
                                    </div>
                                    <div class="two">
                                       <div class="replacementContainer">
                                            <ul id="regexList">
                                                {% if character and character.regexes|length!=0 %}
                                                {% for replacement in character.regexes %}
                                                <li><input type="text" name="regex_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="regex_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteRegex">x</a></li>
                                                {% endfor %}

                                                {% else %}
                                                <li><input type="text" name="regex_from" size="4"> to <input type="text" name="regex_to" size="4"> <a href="#" class="deleteRegex">x</a></li>
                                                {% endif %}
                                            </ul>
                                            <a href="#" id="addRegex">+Add another replacement</a>
                                            <br />
                                            <a href="#" id="clearRegexes">-Clear replacements</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="char_right" class="right">
                        <div class="card" id="tags">
                            <div class="titi">YOUR CHARACTER</div>
                            <p>Seperate your tags by commas</p>
                            <div class="tag-container"><label>Characters they are: <input type="text" name="character" maxlength="500" value="{{character_tags["character"] if character_tags else ""}}"></label></div>
                            <div class="tag-container"><label>Fandoms: <input type="text" name="fandom" maxlength="500" value="{{character_tags["fandom"] if character_tags else ""}}"></label></div>
                            <div class="tag-container"><label>Genders: <input type="text" name="gender" maxlength="500" value="{{character_tags["gender"] if character_tags else ""}}"></label></div>
                        </div>
                    </div>

                    <button id="editor-close" class="save_character">Close Editor</button>
                </div>
            </div>
        </form>
{% endblock %}

