{% extends "rp/base.html" %}
{% block title%}Chat Requests – Charat{% endblock %}
{% block header %}
<script src="{{url_for('static', filename='js/rp/requestlist.js')}}" defer></script>
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/home.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/front.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/chats.css')}}" />
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static', filename='css/rp/requestlist.css')}}" />
{% endblock %}

{% block content %}
<div class="body">
    <!-- Put in some noscript things -->
    <div id="chat-pages" class="section">
        <div id="page-div">
            <div id="your-pages" class="section">
                <div class="titli">LISTS</div>
                <div class="card">
                    {% if page == "all": %}
                    All
                    {% else: %}
                    <a href="{{url_for("rp_request_list")}}">All</a>
                    {% endif %}

                    {% if page == "yours": %}
                    Yours
                    {% else: %}
                    <a href="{{url_for("rp_your_request_list")}}">Yours</a>
                    {% endif %}

                    <a href="{{url_for("rp_new_request_get")}}">Create</a>
                </div>
            </div>
        </div>
        <div class="titli">
            {% if page == "yours" %}
            YOUR REQUESTS
            {% elif page == "tag" %}
            REQUESTS TAGGED "{% filter upper %}{{tag.type}}:{{tag.name.replace("_", " ")}}{% endfilter %}"
            {% else %}
            REQUESTS
            {% endif %}
        </div>

        {% block pager %}
        {% if paginator.page_count!=1 %}
        <div class="pager">
        {{paginator.pager(format='~5~')}}
        </div>
        {% endif %}
        {% endblock %}
        
        <div id="under-page" class="screen-desktop">
            <div id="column-1" class="section">
                {% for search_request in requests: %}
                {% if loop.index%3 == 1 %}
                {% set tags = search_request.tags_by_type() %}
                <div class="card chat-request">
                    <div class="request-header">
                        {{search_request.name}} [<span style="color:#{{search_request.color}}">{{search_request.alias}}</span>]
                        {% if tags.maturity %}
                            / {% for tag in tags.maturity: %}{{tag.alias}}{% endfor %}
                        {% endif %}
                    </div>

                    {% if tags.trigger: %}
                    <fieldset class="tag-list tag-trigger">
                        <legend class="tag-title">Trigger Warnings</legend>
                        <div>
                            {% for tag in tags.trigger: %}
                            <span>{{tag.alias}}</span>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.scenario: %}
                    <fieldset class="tag-scenario">
                        <legend class="tag-title">Mun's Notes</legend>
                        <div class="scenario">
                            {{search_request.scenario[0:200]}}{% if search_request.scenario|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.scenario[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                        </div>
                    </fieldset>
                    {% endif %}
                    
                    {% if search_request.prompt: %}
                    <div class="prompt" style="color:#{{search_request.color}}">
                        {% if page == "yours": %}<span class="status">{{search_request.status|capitalize}}:</span>{% endif %}
                        {{search_request.prompt[0:200]}}{% if search_request.prompt|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.prompt[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                    </div>
                    {% endif %}

                    <div class="more">
                        <hr style="border-color:#{{search_request.color}}">

                        {% if tags.maturity: %}
                        <fieldset class="tag-list tag-maturity">
                            <legend class="tag-title">Maturity</legend>
                            <div>
                                {% for tag in tags.maturity: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.type: %}
                        <fieldset class="tag-list tag-type">
                            <legend class="tag-title">Type</legend>
                            <div>
                                {% for tag in tags.type: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom: %}
                        <fieldset class="tag-list tag-fandom">
                            <legend class="tag-title">Playing fandom</legend>
                            <div>
                                {% for tag in tags.fandom: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom_wanted: %}
                        <fieldset class="tag-list tag-fandom-wanted">
                            <legend class="tag-title">Wanted fandom</legend>
                            <div>
                                {% for tag in tags.fandom_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character: %}
                        <fieldset class="tag-list tag-character">
                            <legend class="tag-title">Playing characters</legend>
                            <div>
                                {% for tag in tags.character: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character_wanted: %}
                        <fieldset class="tag-list tag-character-wanted">
                            <legend class="tag-title">Wanted characters</legend>
                            <div>
                                {% for tag in tags.character_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender: %}
                        <fieldset class="tag-list tag-gender">
                            <legend class="tag-title">Playing gender</legend>
                            <div>
                                {% for tag in tags.gender: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender_wanted: %}
                        <fieldset class="tag-list tag-gender-wanted">
                            <legend class="tag-title">Wanted gender:</legend>
                            <div>
                                {% for tag in tags.gender_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.misc: %}
                        <fieldset class="tag-list tag-misc">
                            <legend class="tag-title">Other tags</legend>
                            <div>
                                {% for tag in tags.misc: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>

                    <div class="line-behind-wrapper toggle-more">
                        <div class="line-behind"></div>
                        <div class="text">Show More</div>
                    </div>

                    {% if search_request.user_id == g.user.id: %}
                    <p class="edit-buttons">
                        <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}" class="button">Edit</a>
                        <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}" class="button">Delete</a>
                    </p>
                   {% else: %}
                    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
                   {% endif %}

                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div id="column-2" class="section">
                {% for search_request in requests: %}
                {% if loop.index%3 == 2 %}
                {% set tags = search_request.tags_by_type() %}
                <div class="card chat-request">
                    <div class="request-header">
                        {{search_request.name}} [<span style="color:#{{search_request.color}}">{{search_request.alias}}</span>]
                        {% if tags.maturity %}
                            / {% for tag in tags.maturity: %}{{tag.alias}}{% endfor %}
                        {% endif %}
                    </div>

                    {% if tags.trigger: %}
                    <fieldset class="tag-list tag-trigger">
                        <legend class="tag-title">Trigger Warnings</legend>
                        <div>
                            {% for tag in tags.trigger: %}
                            <span>{{tag.alias}}</span>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.scenario: %}
                    <fieldset class="tag-scenario">
                        <legend class="tag-title">Mun's Notes</legend>
                        <div class="scenario">
                            {{search_request.scenario[0:200]}}{% if search_request.scenario|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.scenario[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                        </div>
                    </fieldset>
                    {% endif %}
                    
                    {% if search_request.prompt: %}
                    <div class="prompt" style="color:#{{search_request.color}}">
                        {% if page == "yours": %}<span class="status">{{search_request.status|capitalize}}:</span>{% endif %}
                        {{search_request.prompt[0:200]}}{% if search_request.prompt|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.prompt[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                    </div>
                    {% endif %}

                    <div class="more">
                        <hr style="border-color:#{{search_request.color}}">

                        {% if tags.maturity: %}
                        <fieldset class="tag-list tag-maturity">
                            <legend class="tag-title">Maturity</legend>
                            <div>
                                {% for tag in tags.maturity: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.type: %}
                        <fieldset class="tag-list tag-type">
                            <legend class="tag-title">Type</legend>
                            <div>
                                {% for tag in tags.type: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom: %}
                        <fieldset class="tag-list tag-fandom">
                            <legend class="tag-title">Playing fandom</legend>
                            <div>
                                {% for tag in tags.fandom: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom_wanted: %}
                        <fieldset class="tag-list tag-fandom-wanted">
                            <legend class="tag-title">Wanted fandom</legend>
                            <div>
                                {% for tag in tags.fandom_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character: %}
                        <fieldset class="tag-list tag-character">
                            <legend class="tag-title">Playing characters</legend>
                            <div>
                                {% for tag in tags.character: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character_wanted: %}
                        <fieldset class="tag-list tag-character-wanted">
                            <legend class="tag-title">Wanted characters</legend>
                            <div>
                                {% for tag in tags.character_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender: %}
                        <fieldset class="tag-list tag-gender">
                            <legend class="tag-title">Playing gender</legend>
                            <div>
                                {% for tag in tags.gender: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender_wanted: %}
                        <fieldset class="tag-list tag-gender-wanted">
                            <legend class="tag-title">Wanted gender:</legend>
                            <div>
                                {% for tag in tags.gender_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.misc: %}
                        <fieldset class="tag-list tag-misc">
                            <legend class="tag-title">Other tags</legend>
                            <div>
                                {% for tag in tags.misc: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>

                    <div class="line-behind-wrapper toggle-more">
                        <div class="line-behind"></div>
                        <div class="text">Show More</div>
                    </div>

                    {% if search_request.user_id == g.user.id: %}
                    <p class="edit-buttons">
                        <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}" class="button">Edit</a>
                        <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}" class="button">Delete</a>
                    </p>
                   {% else: %}
                    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
                   {% endif %}

                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div id="column-3" class="section">
                {% for search_request in requests: %}
                {% if loop.index%3 == 0 %}
                {% set tags = search_request.tags_by_type() %}
                <div class="card chat-request">
                    <div class="request-header">
                        {{search_request.name}} [<span style="color:#{{search_request.color}}">{{search_request.alias}}</span>]
                        {% if tags.maturity %}
                            / {% for tag in tags.maturity: %}{{tag.alias}}{% endfor %}
                        {% endif %}
                    </div>

                    {% if tags.trigger: %}
                    <fieldset class="tag-list tag-trigger">
                        <legend class="tag-title">Trigger Warnings</legend>
                        <div>
                            {% for tag in tags.trigger: %}
                            <span>{{tag.alias}}</span>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.scenario: %}
                    <fieldset class="tag-scenario">
                        <legend class="tag-title">Mun's Notes</legend>
                        <div class="scenario">
                            {{search_request.scenario[0:200]}}{% if search_request.scenario|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.scenario[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                        </div>
                    </fieldset>
                    {% endif %}
                    
                    {% if search_request.prompt: %}
                    <div class="prompt" style="color:#{{search_request.color}}">
                        {% if page == "yours": %}<span class="status">{{search_request.status|capitalize}}:</span>{% endif %}
                        {{search_request.prompt[0:200]}}{% if search_request.prompt|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.prompt[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                    </div>
                    {% endif %}

                    <div class="more">
                        <hr style="border-color:#{{search_request.color}}">

                        {% if tags.maturity: %}
                        <fieldset class="tag-list tag-maturity">
                            <legend class="tag-title">Maturity</legend>
                            <div>
                                {% for tag in tags.maturity: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.type: %}
                        <fieldset class="tag-list tag-type">
                            <legend class="tag-title">Type</legend>
                            <div>
                                {% for tag in tags.type: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom: %}
                        <fieldset class="tag-list tag-fandom">
                            <legend class="tag-title">Playing fandom</legend>
                            <div>
                                {% for tag in tags.fandom: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom_wanted: %}
                        <fieldset class="tag-list tag-fandom-wanted">
                            <legend class="tag-title">Wanted fandom</legend>
                            <div>
                                {% for tag in tags.fandom_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character: %}
                        <fieldset class="tag-list tag-character">
                            <legend class="tag-title">Playing characters</legend>
                            <div>
                                {% for tag in tags.character: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character_wanted: %}
                        <fieldset class="tag-list tag-character-wanted">
                            <legend class="tag-title">Wanted characters</legend>
                            <div>
                                {% for tag in tags.character_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender: %}
                        <fieldset class="tag-list tag-gender">
                            <legend class="tag-title">Playing gender</legend>
                            <div>
                                {% for tag in tags.gender: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender_wanted: %}
                        <fieldset class="tag-list tag-gender-wanted">
                            <legend class="tag-title">Wanted gender:</legend>
                            <div>
                                {% for tag in tags.gender_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.misc: %}
                        <fieldset class="tag-list tag-misc">
                            <legend class="tag-title">Other tags</legend>
                            <div>
                                {% for tag in tags.misc: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>

                    <div class="line-behind-wrapper toggle-more">
                        <div class="line-behind"></div>
                        <div class="text">Show More</div>
                    </div>

                    {% if search_request.user_id == g.user.id: %}
                    <p class="edit-buttons">
                        <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}" class="button">Edit</a>
                        <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}" class="button">Delete</a>
                    </p>
                   {% else: %}
                    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
                   {% endif %}

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="under-page" class="screen-nobile">
            <div id="column-1" class="section">
                {% for search_request in requests: %}
                {% if loop.index%2 == 1 %}
                {% set tags = search_request.tags_by_type() %}
                <div class="card chat-request">
                    <div class="request-header">
                        {{search_request.name}} [<span style="color:#{{search_request.color}}">{{search_request.alias}}</span>]
                        {% if tags.maturity %}
                            / {% for tag in tags.maturity: %}{{tag.alias}}{% endfor %}
                        {% endif %}
                    </div>

                    {% if tags.trigger: %}
                    <fieldset class="tag-list tag-trigger">
                        <legend class="tag-title">Trigger Warnings</legend>
                        <div>
                            {% for tag in tags.trigger: %}
                            <span>{{tag.alias}}</span>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}
                    
                    {% if search_request.scenario: %}
                    <fieldset class="tag-scenario">
                        <legend class="tag-title">Mun's Notes</legend>
                        <div class="scenario">
                            {{search_request.scenario[0:200]}}{% if search_request.scenario|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.scenario[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.prompt: %}
                    <div class="prompt" style="color:#{{search_request.color}}">
                        {% if page == "yours": %}<span class="status">{{search_request.status|capitalize}}:</span>{% endif %}
                        {{search_request.prompt[0:200]}}{% if search_request.prompt|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.prompt[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                    </div>
                    {% endif %}

                    <div class="more">
                        <hr style="border-color:#{{search_request.color}}">

                        {% if tags.maturity: %}
                        <fieldset class="tag-list tag-maturity">
                            <legend class="tag-title">Maturity</legend>
                            <div>
                                {% for tag in tags.maturity: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.type: %}
                        <fieldset class="tag-list tag-type">
                            <legend class="tag-title">Type</legend>
                            <div>
                                {% for tag in tags.type: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom: %}
                        <fieldset class="tag-list tag-fandom">
                            <legend class="tag-title">Playing fandom</legend>
                            <div>
                                {% for tag in tags.fandom: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom_wanted: %}
                        <fieldset class="tag-list tag-fandom-wanted">
                            <legend class="tag-title">Wanted fandom</legend>
                            <div>
                                {% for tag in tags.fandom_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character: %}
                        <fieldset class="tag-list tag-character">
                            <legend class="tag-title">Playing characters</legend>
                            <div>
                                {% for tag in tags.character: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character_wanted: %}
                        <fieldset class="tag-list tag-character-wanted">
                            <legend class="tag-title">Wanted characters</legend>
                            <div>
                                {% for tag in tags.character_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender: %}
                        <fieldset class="tag-list tag-gender">
                            <legend class="tag-title">Playing gender</legend>
                            <div>
                                {% for tag in tags.gender: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender_wanted: %}
                        <fieldset class="tag-list tag-gender-wanted">
                            <legend class="tag-title">Wanted gender:</legend>
                            <div>
                                {% for tag in tags.gender_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.misc: %}
                        <fieldset class="tag-list tag-misc">
                            <legend class="tag-title">Other tags</legend>
                            <div>
                                {% for tag in tags.misc: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>

                    <div class="line-behind-wrapper toggle-more">
                        <div class="line-behind"></div>
                        <div class="text">Show More</div>
                    </div>

                    {% if search_request.user_id == g.user.id: %}
                    <p class="edit-buttons">
                        <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}" class="button">Edit</a>
                        <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}" class="button">Delete</a>
                    </p>
                   {% else: %}
                    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
                   {% endif %}

                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div id="column-2" class="section">
                {% for search_request in requests: %}
                {% if loop.index%2 == 0 %}
                {% set tags = search_request.tags_by_type() %}
                <div class="card chat-request">
                    <div class="request-header">
                        {{search_request.name}} [<span style="color:#{{search_request.color}}">{{search_request.alias}}</span>]
                        {% if tags.maturity %}
                            / {% for tag in tags.maturity: %}{{tag.alias}}{% endfor %}
                        {% endif %}
                    </div>

                    {% if tags.trigger: %}
                    <fieldset class="tag-list tag-trigger">
                        <legend class="tag-title">Trigger Warnings</legend>
                        <div>
                            {% for tag in tags.trigger: %}
                            <span>{{tag.alias}}</span>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.scenario: %}
                    <fieldset class="tag-scenario">
                        <legend class="tag-title">Mun's Notes</legend>
                        <div class="scenario">
                            {{search_request.scenario[0:200]}}{% if search_request.scenario|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.scenario[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                        </div>
                    </fieldset>
                    {% endif %}
                    
                    {% if search_request.prompt: %}
                    <div class="prompt" style="color:#{{search_request.color}}">
                        {% if page == "yours": %}<span class="status">{{search_request.status|capitalize}}:</span>{% endif %}
                        {{search_request.prompt[0:200]}}{% if search_request.prompt|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.prompt[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                    </div>
                    {% endif %}

                    <div class="more">
                        <hr style="border-color:#{{search_request.color}}">

                        {% if tags.maturity: %}
                        <fieldset class="tag-list tag-maturity">
                            <legend class="tag-title">Maturity</legend>
                            <div>
                                {% for tag in tags.maturity: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.type: %}
                        <fieldset class="tag-list tag-type">
                            <legend class="tag-title">Type</legend>
                            <div>
                                {% for tag in tags.type: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom: %}
                        <fieldset class="tag-list tag-fandom">
                            <legend class="tag-title">Playing fandom</legend>
                            <div>
                                {% for tag in tags.fandom: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom_wanted: %}
                        <fieldset class="tag-list tag-fandom-wanted">
                            <legend class="tag-title">Wanted fandom</legend>
                            <div>
                                {% for tag in tags.fandom_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character: %}
                        <fieldset class="tag-list tag-character">
                            <legend class="tag-title">Playing characters</legend>
                            <div>
                                {% for tag in tags.character: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character_wanted: %}
                        <fieldset class="tag-list tag-character-wanted">
                            <legend class="tag-title">Wanted characters</legend>
                            <div>
                                {% for tag in tags.character_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender: %}
                        <fieldset class="tag-list tag-gender">
                            <legend class="tag-title">Playing gender</legend>
                            <div>
                                {% for tag in tags.gender: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender_wanted: %}
                        <fieldset class="tag-list tag-gender-wanted">
                            <legend class="tag-title">Wanted gender:</legend>
                            <div>
                                {% for tag in tags.gender_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.misc: %}
                        <fieldset class="tag-list tag-misc">
                            <legend class="tag-title">Other tags</legend>
                            <div>
                                {% for tag in tags.misc: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>

                    <div class="line-behind-wrapper toggle-more">
                        <div class="line-behind"></div>
                        <div class="text">Show More</div>
                    </div>

                    {% if search_request.user_id == g.user.id: %}
                    <p class="edit-buttons">
                        <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}" class="button">Edit</a>
                        <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}" class="button">Delete</a>
                    </p>
                   {% else: %}
                    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
                   {% endif %}

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="under-page" class="screen-mobile">
            <div id="column-1" class="section">
                {% for search_request in requests: %}
                {% set tags = search_request.tags_by_type() %}
                <div class="card chat-request">
                    <div class="request-header">
                        {{search_request.name}} [<span style="color:#{{search_request.color}}">{{search_request.alias}}</span>]
                        {% if tags.maturity %}
                            / {% for tag in tags.maturity: %}{{tag.alias}}{% endfor %}
                        {% endif %}
                    </div>

                    {% if tags.trigger: %}
                    <fieldset class="tag-list tag-trigger">
                        <legend class="tag-title">Trigger Warnings</legend>
                        <div>
                            {% for tag in tags.trigger: %}
                            <span>{{tag.alias}}</span>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.scenario: %}
                    <fieldset class="tag-scenario">
                        <legend class="tag-title">Mun's Notes</legend>
                        <div class="scenario">
                            {{search_request.scenario[0:200]}}{% if search_request.scenario|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.scenario[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                        </div>
                    </fieldset>
                    {% endif %}

                    {% if search_request.prompt: %}
                    <div class="prompt" style="color:#{{search_request.color}}">
                        {% if page == "yours": %}<span class="status">{{search_request.status|capitalize}}:</span>{% endif %}
                        {{search_request.prompt[0:200]}}{% if search_request.prompt|length > 200 %}<span class="prompt-ellipse">...</span><span class="prompt-finish">{{search_request.prompt[200:]}}</span> <span class="prompt-toggle">[more]</span>{%endif%}
                    </div>
                    {% endif %}

                    <div class="more">
                        <hr style="border-color:#{{search_request.color}}">

                        {% if tags.maturity: %}
                        <fieldset class="tag-list tag-maturity">
                            <legend class="tag-title">Maturity</legend>
                            <div>
                                {% for tag in tags.maturity: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.type: %}
                        <fieldset class="tag-list tag-type">
                            <legend class="tag-title">Type</legend>
                            <div>
                                {% for tag in tags.type: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom: %}
                        <fieldset class="tag-list tag-fandom">
                            <legend class="tag-title">Playing fandom</legend>
                            <div>
                                {% for tag in tags.fandom: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.fandom_wanted: %}
                        <fieldset class="tag-list tag-fandom-wanted">
                            <legend class="tag-title">Wanted fandom</legend>
                            <div>
                                {% for tag in tags.fandom_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character: %}
                        <fieldset class="tag-list tag-character">
                            <legend class="tag-title">Playing characters</legend>
                            <div>
                                {% for tag in tags.character: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.character_wanted: %}
                        <fieldset class="tag-list tag-character-wanted">
                            <legend class="tag-title">Wanted characters</legend>
                            <div>
                                {% for tag in tags.character_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender: %}
                        <fieldset class="tag-list tag-gender">
                            <legend class="tag-title">Playing gender</legend>
                            <div>
                                {% for tag in tags.gender: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.gender_wanted: %}
                        <fieldset class="tag-list tag-gender-wanted">
                            <legend class="tag-title">Wanted gender:</legend>
                            <div>
                                {% for tag in tags.gender_wanted: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}

                        {% if tags.misc: %}
                        <fieldset class="tag-list tag-misc">
                            <legend class="tag-title">Other tags</legend>
                            <div>
                                {% for tag in tags.misc: %}
                                <span>{{tag.alias}}</span>
                                {% endfor %}
                            </div>
                        </fieldset>
                        {% endif %}
                    </div>

                    <div class="line-behind-wrapper toggle-more">
                        <div class="line-behind"></div>
                        <div class="text">Show More</div>
                    </div>

                    {% if search_request.user_id == g.user.id: %}
                    <p class="edit-buttons">
                        <a href="{{url_for("rp_edit_request_get", request_id=search_request.id)}}" class="button">Edit</a>
                        <a href="{{url_for("rp_delete_request_get", request_id=search_request.id)}}" class="button">Delete</a>
                    </p>
                   {% else: %}
                    <form action="{{url_for("rp_answer_request", request_id=search_request.id)}}" method="post"><button type="submit">Answer</button></form>
                   {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        {{ self.pager() }}
    </div>
</div>
{% endblock %}

