html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #c0f0c0;
    font-family: Sans-Serif;
    text-align: center;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: #638764;
}

p {
    margin: 0;
}

logo {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
}

header {
    display: block;
    font-size: 30px;
}

input[type="text"], input[type="submit"], input[type="password"], textarea {
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
    border-radius: 0;
}

input[type="text"], input[type="password"] {
    font-size: 16px;
    border-color: #92b792;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.block-container, .blog-post {
    position: relative;
    display: inline-block;
    background-color: #BBDDBB;
    color: #0e3d1b;
    width: 270px;
    max-width: 100%;
    height: 200px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: top;
}

.block-container .block {
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.block-container.has-description {
    cursor: pointer;
}

.blog-post {
    background-color: #daf5e6;
    text-align: left;
    overflow: hidden;
}

.inner-blog-post {
    height: 200px;
    width: 100%;
    padding-right: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.blog-post .block {
    background-color: #63a37d;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}

.blog-post .block header {
    font-size: 24px;
    line-height: 1.3em;
    max-height: 2.6em;
    overflow: hidden;
}

.blog-post .content {
    padding: 5px;
}

.blog-post .content a:hover {
    color: #4e7d5b;
}

#main-block header {
    font-size: 40px;
}

.error {
    color: #880000;
}

.description {
    display: none;
    text-align: left;
    margin: 10px;
}

.description a header:after {
    content: " »";
}

button.block-button, a.block-button {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    background-color: #69926a;
    color: #fffffb;
    font-size: 18px;
    width: 200px;
    max-width: 100%;
    height: 30px;
    padding: 0;
    padding-bottom: 3px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a.block-button {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-weight: 400;
    display: inline-block;
    background-color: #8ecdab;
    color: #0e3d1b;
    font-size: 18px;
    width: 200px;
    max-width: 100%;
    height: 30px;
    padding: 0;
    padding-top: 3px;
    border: none;
    cursor: pointer;
}
