html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #2e5d3b;
    font-family: Sans-Serif;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: #0e3d1b;
}

p {
    margin: 0;
}

logo {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
}

header {
    display: block;
    font-size: 30px;
}

input[type="text"], input[type="submit"], input[type="password"], textarea {
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
    border-radius: 0;
}

input[type="text"], input[type="password"] {
    font-size: 16px;
    border-color: #2e5d3b;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    text-align: center;
}

#header {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    left: 2px;
    bottom: 5px;
}

#blog-logo {
    width: 57px;
    height: 57px;
}

#title {
    color: #000000;
    margin: 0;
}

#menu {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

#menu a {
   color: #000000;
   text-decoration: underline;
}

#menu a:hover {
   color: #0e3d1b;
}

.posts {
    display: inline-block;
    width: 100%;
    max-width: 800px;
}

.blog-post {
    background-color: #daf5e6;
    color: #0e3d1b;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.blog-post .block {
    display: inline-block;
    background-color: #4e8d6b;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}

.blog-post .content {
    padding: 10px;
}

.error {
    color: #880000;
}

button.block-button {
    background-color: #7ebd9b;
    color: #0e3d1b;
    font-size: 18px;
    width: 200px;
    max-width: 100%;
    height: 30px;
    padding: 0;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a.block-button {
    display: inline-block;
    background-color: #7ebd9b;
    color: #0e3d1b;
    font-size: 18px;
    width: 200px;
    max-width: 100%;
    height: 30px;
    padding: 0;
    padding-top: 7px;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
}